/*=======================> any_page <=========================*/
.any_page_right .title3{
	margin: -7px 0 17px 0;
}
.sale_page_info{
	text-align: justify;
	min-width: 100%;
	overflow: hidden;
	letter-spacing: -0.2px;
}

.catalog_box_btn{
	margin-bottom: 30px; 
}
	.catalog_box_btn .see_more_box_btn{
		background: url(../images/icon_see_more2.png) 0 50% no-repeat;
	}
/*=======================> any_page end <=========================*/

/*=======================> freski_razdel <=========================*/
.freski_razdel_wrapper{
	margin: 0 -14px 0;
}
.frascoes_razdel_box{
	background: #fff;
	width: 211px;
	/*height: 235px;*/
	display: inline-block;
	margin: 0 12.5px 30px;
}

	.catalog2_figure_link{
		border: 2px solid #eaeaea;
		height: 190px;
		width: 211px;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}

	.freski_box_text{
		margin-top: 10px;
	}

		.freski_box_text .oboi_box_name{
			font-size: 13px;
		}

		.freski_box_text .oboi_box_cost{
			font-size: 16px;
		}

/*=======================> freski_razdel end <=========================*/

	
/*----------------- Frescoes card 3 ---------------*/
.ex_frescoes_img{
	width: 540px;
	height: 639px;
	border: 2px solid #eaeaea;
	display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.freski_card3_text{
	margin: 30px 41.5% 30px 0;
	/*width: 540px;*/
}

.freska_in_interier{
	background: #4c4c4c url(../images/cards_3_bg.png) 100% 0 no-repeat;
	color:#fff;
	display: block;
	width: 320px;
	height: 44px;
	line-height: 44px;
	padding-left: 10px;
	border-radius: 5px;
	margin-bottom: 30px;
	text-transform: uppercase;
}

.cards_frescoes_right_box{
	overflow: hidden;
	float: right;
	/*height: 638px;*/
	max-height: 638px;
	width: 470px;
	border: 2px solid #eeeeee;
}
	
	.cards_frescoes_right_box .jspContainer{
		/*width: 468px !important;*/
	}	

	.cards_frescoes_right_box .jspContainer .jspPane{
		/*width: 450px !important;*/
	}

	.cards_frescoes_right_box .jspVerticalBar, .jspTrack{
		right: 0 !important;
		width: 20px;
		background: #f1f1f1 !important;
		border-radius: 0 !important;
	}
		.cards_frescoes_right_box .jspVerticalBar .jspTrack .jspDrag{
			border-radius: 0 !important;
			background: #dcdcdc;
		}

		/*.cards_frescoes_right_box .jspVerticalBar .jspArrow{
	     	height: 19px ;
		    border-bottom: none;
		    background: url(../images/arrow_scroll_up.png) 46% 37%  no-repeat;
		}	

		.cards_frescoes_right_box .jspVerticalBar .jspArrow.jspArrowDown{
			-webkit-transform: rotate(180deg);
			   -moz-transform: rotate(180deg);
			    -ms-transform: rotate(180deg);
			     -o-transform: rotate(180deg);
			        transform: rotate(180deg);
			border: none;
			background: url(../images/arrow_scroll_up.png) 46% 37%  no-repeat;
		}*/

	.cards_frescoes_right_box_wrapper{
		padding: 18px 42px 0 38px;
	}

		.cards_frescoes_right_box_wrapper h3{
			text-transform: uppercase;
			font-size: 17px;
			padding-bottom: 4px; 
			color: #626161;
			border-bottom: 2px solid #eeeeee;
			margin-bottom: 5px;
		}	

.c_f_r_box{
	padding: 37px 43px 0 37px; 
}
	.c_f_box{
		border: 2px solid #eeeeee;
	}
		.title_hr_text{
            font-size: 24px;    
            color:  #202020;
            text-align: center; 
            display: inline-block;  
            padding: 0 20px;
            background-color: #fff;
            text-transform: uppercase;
        }
.cards_frescoes_right_box_content{
	padding: 0 22px; 
}
.cards_frescoes_figure{
	width: 170px;
	margin: 10px 15px 15px;
	float: left;
}
	.oboi_box_link img{
		max-width: 100%;
		height: auto;
	}
    .card_frescoes_box_components{
    	width: 100%;
    	border: 2px solid #eaeaea;
		display: inline-block;
    	vertical-align: middle;
    	text-align: center;
    }
    	.card_frescoes_box_components .oboi_box_link{
    		margin-bottom: 0;
    	}
    .card_frescoes_box_components .oboi_box_link:before,
    .card_frescoes_box_components .oboi_box_link:after{
    	display: none;
    }


/*========== search ===================*/
.error_search_box2{
	width: 821px;
}
.aside_conteiner{
	width: 15%;
    position: relative;
    z-index: 99;
    margin: 0 62px 20px 0;
    display: block;
}

.container_search_oboi_box{
	margin: 0 -28px 0 1.6% !important;
	width: 100%;
}

	.container_search_oboi_box.oboi_box_main.oboi_big .oboi_box{
		margin: 0 28px 32px 0;
	}