/*----------------------One news----------------------*/

.flexslider2_main_box{
	position: relative;
    margin-left: 33px;
    max-height: 427px;
    overflow: hidden;
    max-width: 637px;
    border: 2px solid #cfcfcf;
    -webkit-border-radius: 6px;
            border-radius: 6px;
}
	.flexslider2_main_box #slider .slides img{
		
	}
	.flexslider2_main_box #carousel{
		position: absolute;
		bottom: 0;
		background: url(../images/bkgc_opacity_flex.png) 0 0 repeat;
		padding: 4px 62px 5px 62px;
		-webkit-border-radius: 7px;
		        border-radius: 7px;
        left: 0;
        right: 0;
        height: 89px;
        overflow: hidden;
	}
	.flexslider2_main_box .flex-direction-nav a{
		background: url(../images/icon_see_more2.png) 0 0 no-repeat;
		width: 26px;
		height: 26px;
		top: 50%;
		-webkit-background-size: contain;
		     -o-background-size: contain;
		        background-size: contain;
	}
	.flexslider2_main_box .flex-direction-nav .flex-next{
		-webkit-transform: rotate(180deg);
		   -moz-transform: rotate(180deg);
		    -ms-transform: rotate(180deg);
		     -o-transform: rotate(180deg);
		        transform: rotate(180deg);
	}
	.flexslider2_main_box .flexslider:hover .flex-next,
	.flexslider2_main_box .flexslider .flex-next{
		right: 17px;
		margin-top: -13px;
	}
	.flexslider2_main_box .flexslider:hover .flex-prev,
	.flexslider2_main_box .flexslider .flex-prev{
		left: 17px;
		margin-top: -13px;
		
	}
	.flexslider2_main_box #carousel .flex-active-slide .bd_img{
		cursor: pointer;
		width: 117px;
		height: 79px;
		position: relative;
		border: 2px solid #eaeaea;
		overflow: hidden;
	}
	.flexslider2_main_box #carousel .flex-active-slide .bd_img img{
		margin: -2px 0 0 -2px;
	}
	.flexslider2_main_box #carousel .slides li{
		margin-right: 10px;
		cursor: pointer;
	}
	.mr19{
     margin-right:19px;
	}
.news_articles_main .vertical_right_text{
	height:auto;
}
.news_articles_main .vertical_item {
	padding: 20px 20px 20px 0px;
}

/*----------------------All news----------------------*/

.news_articles_main .vertical_item .vertical_right_text{
	position: relative;
	overflow: initial;
	float: left;
	width: calc(100% - 222px);
}
	.news_articles_main .vertical_item .vertical_right_text .more_link_box_it{
		position: absolute;
		top: 121px;
	}
.after_flex{
	color: #424242;
	margin-left: 32px;
	margin-bottom: 0;
}
.content_oboi_news{
	/*margin-bottom: 110px;*/
	margin-bottom: 155px;
}
.content_oboi_news .check_butn_box{
	margin: -3px 0 0 0;
}
.content_oboi_news .check_butn_box .see_more_box_btn{
	padding: 5px 0px 5px 44px;
}
.new_left_bx{
	color: #424242;
	margin-top: -9px;
}
.new_left_bx p,
.after_flex{
	text-align: justify;
}
.content_oboi1{
	margin-bottom: 12px;
}
.content_oboi2{
	margin-bottom: 24px;
}

.pagination_box_news{
	margin: 0 auto;
	padding: 20px 0 40px 0; 
	width: 150px;
}
	.pagination_box_news_title{
		display: inline-block;
		float: left;
		margin: 0 1.5px;
		width: 32px;
		height: 32px;
		background: #eaeaea;
		-moz-border-radius: 50px;
		-webkit-border-radius: 50px;
		border-radius: 50px;
	}
		.pagination_box_news_title:hover{
			background: #6f6f6f; 
		}
			.pagination_box_news_title:hover .pagination_box_news_link{
				color: #fff;
			}
	.pagination_box_news_title:first-child{
		display: inline-block;
		margin: 0 8px 0 0;
		background: #eaeaea url(../images/arrow_prev_gray.png) 50% 50% no-repeat;
	}
		.pagination_box_news_title:first-child .pagination_box_news_link{
			padding: 15px;
		}
			.pagination_box_news_title:first-child:hover, .pagination_box_news_title:last-child:hover{
				opacity: 0.5;
			}
	.pagination_box_news_title:last-child{
		display: inline-block;
		margin: 0 0 0 8px;
		background: #eaeaea url(../images/arrow_next_gray.png) 50% 50% no-repeat;
	}
		.pagination_box_news_title:last-child .pagination_box_news_link{
			padding: 15px;
		}
	.pagination_box_news_link{
		text-align: center;
		display: block;
		color: #424242;
		padding: 7px;
		font-size: 15px;
		font-family: 'Roboto', sans-serif;
  		font-weight: 400;
	}
