/*------------------aside menu-----------------*/
	.novelty_link,
	.sale_link{
		border-radius: 7px;
		background-color: #ebebeb;
		border: 1px solid #dbdbdb;
		display: block;
		text-align: center;
		text-decoration: none;
		font-size: 15px;
		text-transform: uppercase;
		color: #4c4c4c;
		padding: 9px 67px;
	}
	.novelty_link:hover{
		color: #fefefe;
		background-color: #4c4c4c;
	}
.novelty,
.sale{
	margin-bottom: 7px;
}
	.sale_link{
		color: #fefefe;
		background-color: #4c4c4c;
		border: 1px solid rgba(89, 65, 52, 0.69);
		border-radius: 10px;
		padding: 9px 54px;
	}
	.sale_link:hover{
		background-color: #ebebeb;
		border: 1px solid #dbdbdb;
		color: #4c4c4c;
	}
.aside_left_col{
	min-width: 200px;
	z-index: 9;
	position: relative;
}
.accordion_box{margin-top: 20px;}
	.accordion_item{
		background-color: #fff;
		width: 100%;
		border-radius: 6px 6px;
		border: 1px solid #cfcfcf;
		display: inline-block;
		position: relative;
		margin-bottom: 2px;
	}
	.ac_it_1{background: #2d2d2d url(../images/vizerunok1.png) 0% 0% repeat;}
	.ac_it_2{background: #2d2d2d url(../images/vizerunok2.png) 0% 0% repeat;}
	.ac_it_3{background: #2d2d2d url(../images/vizerunok3.png) 0% 0% repeat;}
	.ac_it_4{background: #2d2d2d url(../images/vizerunok4.png) 0% 0% repeat;}
	.ac_it_5{background: #2d2d2d url(../images/vizerunok5.png) 0% 0% repeat;}
	.ac_it_6{background: #2d2d2d url(../images/vizerunok6.png) 0% 0% repeat;}
	.ac_it_7{background: #2d2d2d url(../images/vizerunok7.png) 0% 0% repeat;}
	.ac_it_8{background: #2d2d2d url(../images/vizerunok8.png) 0% 0% repeat;}
		.accordion_item_link{
			margin: 0;
			border-radius: 6px;
    		position: relative;
    		cursor: pointer;
    		padding: 14px;
    		color: #fff;
    		line-height: 18px;
    		font-size: 16px;
    		font-weight: 300;
    		text-decoration: none;
    		border-radius: 6px;
		}
		.accordion_item_link:after{
			content: "";
			position: absolute;
			width: 14px;
			height: 7px;
			background: url(../images/icon/arrow_down_white.png) 0 0 no-repeat;
			top: 50%;
			margin-top: -3.5px;
			right: 10px;
			-webkit-transition: all 0.3s ease;
		    -moz-transition: all 0.3s ease;
		    -o-transition: all 0.3s ease;
		    transition: all 0.3s ease;
		}
			.accordion_item .accordion_item_link.active.accordion_item_link:after{
				-moz-transform: rotate(180deg);
				-webkit-transform: rotate(180deg);
				-o-transform: rotate(180deg);
				-ms-transform: rotate(180deg);
				transform: rotate(180deg);
			}
			.sub-menu{
				border-radius: 0 0 6px 6px;
				background: #fff; 
				color: #424242;
				padding: 18px;	
			}
			/*-----pallete-----*/
			.sub_menu_pallete{
				float: left;
				display: inline-block;
				width: 21px;
				height: 21px;
				margin: 3px;
			}
			.sub_menu_pallete:hover{border: 1px solid #dedede;}
			.sub_menu_pallete a{padding: 10px;}
			.pal1{background-color: #ff2121;}
			.pal2{background-color: #902121;}
			.pal3{background-color: #21ffff;}
			.pal4{background-color: #219090;}
			.pal5{background-color: #2121ff;}
			.pal6{background-color: #3434a3;}
			.pal7{background-color: #f5f522;}
			.pal8{background-color: #909021;}
			.pal9{background-color: #21ff21;}
			.pal10{background-color: #219021;}
			.pal11{background-color: #ff21ff;}
			.pal12{background-color: #902190;}

				.sub_menu_li{
					display: block;
					font-family: roboto;
					font-weight: 400;
					padding-bottom: 10px;
				}
				.see_more a{
					color: #6f6f6f;
					margin: 3px 0 0 -5px;
					font-size: 14px;
				}
				.sub-menu li:last-child{padding-bottom: 0;}

				.sub_menu_li:hover, .see_more:hover{text-decoration: underline;}

	.sub_menu_li a{
		color: #424242;
		display: block;
		border:none;
		font-size: 14px;
	}

	/* функциональность */
	.accordion .accordion_item > .sub-menu {
		display: none;
	}
	.accordion .accordion_item:target > .sub-menu {
		display: block;
	}
/*----------------------delivery menu-----------------------*/
.delivery_aside{
	min-width: 198px;
}
	.delivery_menu_item{
		margin-bottom: 3px;
		background-color: #2d2d2d;
		border-radius: 6px;
		
		-webkit-transition: all 0.7s ease;
    	-moz-transition: all 0.7s ease;
    	-o-transition: all 0.7s ease;
    	transition: all 0.7s ease;
	}
	.delivery_menu_link:hover{
		background-color: #6f6f6f;
		-webkit-transition: all 0.1s ease;
    	-moz-transition: all 0.1s ease;
    	-o-transition: all 0.1s ease;
    	transition: all 0.1s ease;
	}
		.delivery_menu_link{
			display: block;
			border-radius: 6px;
			font-size: 16px;
			font-weight: 300;
			color: #fff;
			text-decoration: none;
			padding: 13.5px 13px; 
			position: relative;
			z-index: 9;
		}

.delivery_contacts{
	margin: -9px 31px 27px 41px;
}

.delivery_title{
	margin-bottom: 24px;
}

.contacts{
	width: 31.73719376391982%;
	margin: -12px 0px 0px 0px;
	float: left;
	color: #202020;
}
	.way .shop_title{
		margin-bottom: 17px;
	}
	.shop_title{
		/*font-size: 24px;*/
		margin-bottom: 12px;
	}
.hr_delivery{
	border-bottom: 2px solid #eaeaea;
	margin-bottom: 10px;
	margin-right: 18px;
}
.shop_text,
.way_text{
	font-size: 14px;
	line-height: 18px;
	color: #424242;	
	margin-bottom: 18px;
}
.way .way_text:last-child{
	margin-bottom: 0;
}
.shop .shop_text:last-child{
	margin-bottom: 14px;
}


.way{
}
.map{
	float: right;
	border: 2px solid #d1cfcf;
	border-radius: 10px;
	/*height: 348px;*/
	/*width: 600px;*/
	width: 66.81514476614699%;
	height: 400px;
	overflow: hidden;
	position: relative;
	z-index: 9;
}
.delivery_form{
	/*width: 500px;*/
	width: 55.67928730512249%;
	font-size: 14px;
    padding-top: 3px;
}
.delivery_form_box{margin-top: 33px;}
	.delivery_form_box_title{
		color: #424242 !important;	
		margin-bottom: 17px;
	}
	.delivery_form_box_text{
		margin-bottom: 35px;
	}
.del_form_point{ 
	margin-right: 10%;
	margin-bottom: 16px;
}
.del_form_point.captcha{
	margin-bottom: 21px;
}

	.point_label{
		color: #424242;
		float: left;
        padding-top: 8px;
        font-family: 'Roboto', sans-serif;
    	font-weight: 500;
	}
	.del_form_point.del_textarea{
		margin-right: 0;
		margin-bottom: 20px;
	}
	.point_input{
		border-radius: 10px !important;
		float: right;
        border: 1px solid #939393;
        /*width: 261px;*/
        width: 62.2%;
        padding: 6.5px 10px ;
	}
	.point_input.w211{
		/*width: 211px;*/
		width: 50.2%;
	}
	.del_form_point_textarea{
		border-radius: 10px !important;
		float: right;
        /*width: 330px;*/
        width: 66%;
        height: 73px;
        border: 1px solid #939393;
        padding: 5px 10px 5px 10px;
		resize: none;
	}
	.point_4_img{
		float: right;
		margin-right: 71px;
		height: 38px;
		width: 72px;
	}
	.point_4_img img{
		width: 100%;
		height: auto;
	}

	.delivery_button{
		margin-top: 30px;
	}
	.delivery_but{
		border-radius: 10px;
		float: right;
		background-color: #4c4c4c;
		color: #fff;
		font-size: 12px;
		padding: 13px 61.5px;
		border: none;
		outline: none;
		cursor: pointer;
		text-transform: uppercase;
		display: inline-block;
	}
	.delivery_but:hover{opacity: 0.6;}
/*----------------------- any_brand ----------------------*/
.l_oboi_text_box{margin: 0 0 16px 0;}
	.l_title3{
		font-size: 27px;
		color: #202020;
		/*line-height: 20px;*/
		margin-bottom: 20px;
	}
	.brand_page_info{
		color: #424242;
		text-align: justify;
	}
.wallpaper_brand_item{
        width: 211px;
        margin: 0 13.5px 15px 13.5px;
        float: left;
    }
	.wallpaper_brand_img{
			width: 100%;
            display: block;
            margin-bottom: 10px;
        }
    .wallpaper_brand_img img{
    	width: 100%;
    	height: auto;
    }    
        .wallpaper_brand_txt{
            border-bottom: 2px solid #e9e9e9;
            text-align: center;
            text-align: center;
            display: block;
            text-decoration: none;
            font-size: 14px;
            line-height: 16px;
            color: #424242;
            padding: 3px 0 9px;
        }
            .oboi_box_text{color: #424242;}
			.wallpaper_brand_box_item{
				width: 211px;
        		margin: 0 13.5px 32px 13.5px;
        		float: left;
			}
                .oboi_brand_box_name{
                    display: block;
                    line-height: 13px;
                    font-size: 13px;
            		padding-bottom: 7px;
                }
                .oboi_brand_box_cost{
                    font-size: 16px;
                    display: block;
                    font-weight: 500;
                    text-transform: uppercase;
                }
/*------------------------- Search -----------------------*/
.search_content{margin-left: 35px;}
.error_search_box{width: 561px;}
	.err_lab{
		font-size: 27px;
		line-height: 25px; 
		font-family: 'Roboto', sans-serif;
		font-weight: 700;
		color: #202020;
	}
	.err_inp{width: 407px;}
		.header_top_input{
			padding: 5.5px 7px; 
			color: #424242;
			font-size: 14px;
			width: 100%;
			border: 1px solid #939393;
			border-radius: 5px !important;
		}
		.header_top_button{
			width: 27px;
			height: 27px;
			position: absolute;
			top: 1px;
			right: 7px;
			border: none;
			background: #fff url(../images/search_icon.png) 90% 50% no-repeat; 
		}
			.header_top_button:hover{opacity: 0.7;}
.num_search{
	color: #a7a7a7;
	font-size: 13px;
	display: inline-block;
	margin: 4px 0 12px 0;
}
/*---------- Search error ---------*/
.search_err_info{
	color: #424242;
	font-size: 14px;
	line-height: 18px;
	margin: 16px 0 0 0;
}
/*------------------- Freski card2 ----------------*/
.frescoes_interior_h1{
	margin-bottom: 32px;
}
	.img_frescoes_interior{
		
	}
	.img_frescoes_interior img{
	
	}
	.ex_img_frescoes_interior{
		display: inline-block;
		/*text-align: right;*/
		width: 100%;
		margin-bottom: 15px;
	}
		.fresc_inter_topic{
			color: #424242;
			font-size: 14px;
		}
		.fresc_inter_link{
			text-decoration: underline;
			font-family: 'Roboto', sans-serif;
  			font-weight: 400;
  			margin-left: 4px;
  			font-size: 14px;
  			color: #424242;
		}
			.fresc_inter_link:hover{text-decoration: none;}
	.frescoes_inter_info{
		margin: 40px 0 0px 0;
	}
	.frescoes_interior{
		margin-bottom: 37px;
	}
		.fresc_inter_title{
			font-size: 24px;
			font-family:'Calibri-Bold';
			color: #202020;
			margin-bottom: 15px;
		}
		.fresc_inter_par{
			color: #424242;
			font-size: 14px;
			text-align: justify;
		}

