/*==================================RESPONSIVE LAYOUTS===============================================*/
/*------------------- RESPONSIVE ----------------*/
@media only screen and (min-width: 1450px){
	.cards_frescoes_right_box {
		float: left;
	}
}
@media only screen and (max-width: 1216px) {
	.wallpaper_for_walls{
		margin: 0 -10.4px;
	}
	.wallpaper_walls_item{
		margin: 0px 10.4px 17px;
	}
	.oboi_box_main.oboi_big {
		margin: 0 -9px 1px -9px;
	}
	.oboi_box_main.oboi_big .oboi_box{
		margin: 0 9px 32px;
	}
	.wallpaper_for_walls.freski_for_walls .wallpaper_walls_item{
		margin: 0 9px 15px;
	}
	.wallpaper_for_walls.freski_for_walls{
		margin: 0 -9px 12px -9px
	}
	.oboi_brands_box_wall_item:first-child{
        margin-right: 20px;
    }
    .news_block_hover_main_show{
    	width: 53.07692307692308%;
    }
}

@media only screen and (max-width: 1200px) {
	.wallpaper_for_walls{
		margin: 0 -8px;
	}
	.wallpaper_walls_item{
		margin: 0px 8px 17px;
	}
	.about_card_wallpaper_right .carousel_main_box_item .flex-viewport,
	.about_card_wallpaper_right .carousel_main_box_item .flex-control-thumbs{
		float: none;
	}
	.carousel_main_box_item .flex-control-thumbs li{
		float: left;
		margin-right: 3px;
	}
	.carousel_main_box_item .flex-control-thumbs{
		display: block;
		margin-top: 5px;
		clear: both;
		overflow: hidden;
	}
	.about_card_wallpaper_right .carousel_main_box_item .flex-viewport{
		width: 99%;
	}
	.about_card_wallpaper_right .carousel_main_box_item .flexslider.thumbnails .buttons_on_carousel{
		display: inline-block;
		margin-bottom: 10px;
	}
	.about_card_wallpaper_right .carousel_main_box_item .flexslider.thumbnails .buttons_on_carousel .buttons_on_carousel_item1{
		position: relative;
		bottom: initial;
		float: left;
	}
	.about_card_wallpaper_right .buttons_on_carousel_item1{
		left: 0;
	}
	.about_card_wallpaper_right{
		margin-left: 0;
	}
}
@media only screen and (max-width: 1199px){
	.aside_conteiner{
		width: 24%;
	}
	.err_inp{
		width: 41%; 
	}
}
@media only screen and (max-width: 1173px) {
	.wallpaper_for_walls.freski_for_walls .wallpaper_walls_item{
		margin: 0 5px 15px;
	}
	.wallpaper_for_walls.freski_for_walls{
		margin: 0 -5px 12px -5px
	}
}	

@media only screen and (max-width: 1170px) {
	.wallpaper_for_walls{
		margin: 0 -5px;
	}
	.wallpaper_walls_item{
		margin: 0px 5px 17px;
	}
	.oboi_box_main.oboi_big .oboi_box{
		width: 204px;
	}
}


@media only screen and (max-width: 1156px) {
	.oboi_brands_box_wall_item:first-child{
        margin-right: 5px;
    }
}

@media only screen and (max-width: 1141px) {
	.wallpaper_for_walls.freski_for_walls .wallpaper_walls_item{
		margin: 0 14px 15px;
	}
	.wallpaper_for_walls.freski_for_walls{
		margin: 0 -14px 12px -14px
	}
	.oboi_brands_box_wall_item{
		width: 165px;
	}
	.wallpaper_short_info_list.freski_card_wallpapers{
		margin-left: 20px;
	}
}

@media only screen and (max-width: 1135px) {
	.wallpaper_for_walls{
		margin: 0 -11.89px;
	}
	.wallpaper_walls_item{
		margin: 0px 11.89px 17px;
	}
	.oboi_box_main.oboi_big {
		margin: 0 -5px 1px -5px;
	}
	.oboi_box_main.oboi_big .oboi_box, .wallpaper_brand_item, .frascoes_razdel_box{
		margin: 0 5px 32px;
	}
}

@media only screen and (max-width: 1099px) {
	.oboi_box_main.oboi_big .oboi_box, 
	.wallpaper_brand_item, 
	.frascoes_razdel_box{
		width: 195px;
	}
}

@media only screen and (max-width: 1070px) {
	.content_right_col{
		margin-left: 60px;
	}
	.oboi_box_main.oboi_big {
		margin: 0 -14px 1px -14px;
	}
	.oboi_box_main.oboi_big .oboi_box, .wallpaper_brand_item, .frascoes_razdel_box{
		margin: 0 14px 32px;
	}
	.oboi_brands_box_wall_item{
		width: 155px;
	}
}

@media only screen and (max-width: 1052px) {
	.price_rub{
		font-size: 17px;
	}
}

@media only screen and (max-width: 1012px) {
	.wallpaper_for_walls{
		margin: 0 -8px;
	}
	.wallpaper_walls_item{
		margin: 0px 8px 17px;
	}
}

@media only screen and (max-width: 1003px) {
	.oboi_brands_box_wall_item{
		width: 150px;
	}
    .wallpaper_short_info_list.freski_card_wallpapers, 
    .freski_card_wall_right .counter_box, 
    .freski_card_wall_right .add_bsket{
    	margin-left: 0;
    } 
}

@media only screen and (max-width: 991px) {
	.content_right_col{
		margin-left: 0px;
	}
	.wallpaper_for_walls{
		margin: 0 -5px;
	}
	.wallpaper_walls_item{
		margin: 0px 5px 17px;
	}
	.checkout_content_box_item_right{
		float: none;
	}
	.checkout_content_box_item_right.oboi_check_it.ch_b_l{
		margin-left: 0;
		border-left: none;
		padding: 50px 10px 0 0px;
	}
	.checkout_content_box_item_right.oboi_check_it.ch_b_l .delivery_icon_box{
		width: 142px;
		float: left;
	}
	.checkout_content_box_item_right.oboi_check_it.ch_b_l{
		width: 320px;
	}
	.oboi_brands_box_wall_item:first-child{
        margin-right: 20px;
    }
}

@media only screen and (max-width: 984px){

}
@media only screen and (max-width: 974px) {
	.wallpaper_for_walls.freski_for_walls .wallpaper_walls_item{
		margin: 0 9px 15px;
	}
	.wallpaper_for_walls.freski_for_walls{
		margin: 0 -9px 12px -9px
	}
}
@media only screen and (max-width: 972px) {
	.cards_frescoes_figure{
		margin: 10px 10px 15px;
	}
	figure.cards_frescoes_figure.data-mh{
		width: 145px;
	}
}
@media only screen and (max-width: 970px) {
	.price_rub{
		padding-top: 8px;
	}
	.catalog2_figure_link img{
		width: 100%;
	}
	.catalog2_figure_link_pd_img{
		padding: 0 20px;
	}
	.content_right_col{
		margin-left: 0px;
	}
	.wallpaper_for_walls{
		margin: 0 -11.89px;
	}
	.wallpaper_walls_item{
		margin: 0px 11.89px 17px;
	}
}

@media only screen and (max-width: 944px) {
	.wallpaper_for_walls.freski_for_walls .wallpaper_walls_item{
		margin: 0 5px 15px;
	}
	.wallpaper_for_walls.freski_for_walls{
		margin: 0 -5px 12px -5px
	}
}

@media only screen and (max-width: 934px) {
	.box_arctickmodal{
		width: 750px;
	}
	.goods_content_box .wallpaper_short_info_list{
		margin-left: 15px;
	}
	.sh_l .wallpaper_short_info_list{
		width: 230px;
		margin-left: 0px;
	}
	.sh_l .after_ordering_text{
		width: 100%;
		margin-top: 20px;	
	}
	.wallpaper_short_info_list{
		
	}
	.goods_content_box .g_c_l, 
	.after_ordering.sh_l{
		float: none;
		width: 100%;
	}
}

@media only screen and (max-width: 920px) {
	.wallpaper_for_walls.freski_for_walls .wallpaper_walls_item{
		margin: 0 14px 15px;
	}
	.wallpaper_for_walls.freski_for_walls{
		margin: 0 -14px 12px -14px
	}
}

@media only screen and (max-width: 911px) {
	.oboi_box_main.oboi_big {
		margin: 0 -9px 1px -9px;
	}
	.oboi_box_main.oboi_big .oboi_box, .wallpaper_brand_item, .frascoes_razdel_box{
		margin: 0 9px 32px;
	}
}

@media only screen and (max-width: 902px) {
	.wallpaper_for_walls.freski_for_walls .wallpaper_walls_item{
		margin: 0 14px 15px;
	}
	.wallpaper_for_walls.freski_for_walls{
		margin: 0 -14px 12px -14px
	}
	.error_search_box, .error_search_box2{
		width: 100%;
	}
	.err_inp{
		width: 47.5%;
	}
	.cards_frescoes_figure .cards_frescoes_figure:nth-child(2n){
		float: right;
	}
}

@media only screen and (max-width: 880px) {
	.content_right_col{
		margin-left: 15px;
	}
	.oboi_box_main.oboi_big {
		margin: 0 -5px 1px -5px;
	}
	.oboi_box_main.oboi_big .oboi_box, .wallpaper_brand_item, .frascoes_razdel_box{
		margin: 0 5px 32px;
	}
	.frescoes_interior .img_frescoes_interior.ex_frescoes_img img{
		width: 100%;
	}
}

@media only screen and (max-width: 873px) {
	.price_rub{
		padding-top: 7px;
	}
}

@media only screen and (max-width: 859px) {
	.oboi_box_main.oboi_big .oboi_box, .wallpaper_brand_item, .frascoes_razdel_box{
		width: 188px;
	}
}

@media only screen and (max-width: 849px) {
	.price_rub{
	}
}

@media only screen and (max-width: 832px) {
	.figure.cards_frescoes_figure.data-mh{
		width: 140px;
	}
	.cards_frescoes_right_box_content{
		padding: 0 16px;
	}
}

@media only screen and (max-width: 831px) {
	.oboi_box_main.oboi_big {
		margin: 0 -14px 1px -14px;
	}
	.oboi_box_main.oboi_big .oboi_box, .wallpaper_brand_item, .frascoes_razdel_box{
		margin: 0px 14px 17px;
	}
}

@media only screen and (max-width: 823px) {
	.content_right_col{
		margin-left: 25px;
	}
	.wallpaper_for_walls{
		margin: 0 -8px;
	}
	.wallpaper_walls_item{
		margin: 0px 8px 17px;
	}
	.oboi_brands_box_wall_item:first-child{
        margin-right: 10px;
    }
    .box_arctickmodal{
		width: 100%;
}

@media only screen and (max-width: 815px) {	
	.price_rub{
		padding-top: 8px;
	}
}

@media only screen and (max-width: 811px) {	
	.oboi_brands_box_wall_item{
		width: 145px;
	}
}

@media only screen and (max-width: 808px) {
	figure.cards_frescoes_figure.data-mh{
		width: 136px;
	}
	.cards_frescoes_right_box_content{
		padding: 0 14px;
	}
}

@media only screen and (max-width: 790px) {
	.wallpaper_for_walls{
		margin: 0 -5px;
	}
	.wallpaper_walls_item{
		margin: 0px 5px 17px;
	}
}

@media only screen and (max-width: 786px) {	
	.price_rub{
			padding-top: 8px;
	}
}

@media only screen and (max-width: 781px) {
	.price_rub{
		padding-top: 8px;
	}
}

@media only screen and (max-width: 770px) {
	.oboi_brands_box_wall_item:first-child{
        margin-right: 5px;
    }
}

@media only screen and (max-width: 767px) {
	.content_right_col{
		margin-left: 0px;
	}
	.novelty, .sale{
		margin-right: 10px;
	}
	.aside_left_col{
		width: 100%; 
		margin-bottom: 20px;
	}
	.oboi_text_box .title3, 
	.any_page_right .title3{
		font-size: 22px; 
		line-height: 24px;
	}
	.oboi_text_box_item > div{
		width: 100%;
		float: none;
	}
	.wallpaper_for_walls{
		margin: 0 -6px;
	}
	.wallpaper_walls_item{
		margin: 0px 6px 17px;
	}
	.search_content{
		margin: 0;
	}	
    .about_card_wallpaper_left{
    	width: 260px;
    }
	.about_card_wallpaper_right{
		margin-left: 0;
	}
	.add_bsket{
		margin: 18px 0px;
		float: left;
	}
	.wallpaper_short_info_list.freski_card_wallpapers{
		margin: 35px 0 0 0;
		float: left;
	}
	.oboi_brands_box_wall_item:first-child{
        margin-right: 20px;
    }
    .price_rub{
		font-size: 19px;
		padding-top: 8px;
	}
	.about_card_wallpaper_left.freski_card_wall_left{
		width: 230px;
	}
	.checkout_content_box_item_right.oboi_check_it{
		margin-left: 0;
		border-left: none;
		padding: 50px 10px 0 0px;
	}
	.checkout_content_box_item_right.oboi_check_it .delivery_icon_box{
		width: 142px;
		float: left;
	}
	.checkout_content_box_item_right.oboi_check_it{
		width: 320px;
	}
	figure.cards_frescoes_figure.data-mh{
		width: 160px;
	}
	.cards_frescoes_figure{
		margin: 10px 15px 15px;
	}
	.aside_conteiner{
		width: 100%;
	}
	.err_lab{
		display: block;
		float: none;
	}
	.err_inp{
		margin-top: 10px;
		width: 100%;
		float: none;
	}
	.container_search_oboi_box.oboi_box_main.oboi_big .oboi_box {
	    margin: 0 20px 15px 0;
	}
	.container_search_oboi_box{
		margin: 0 -20px 0 0 !important;
	}
}

@media only screen and (max-width: 739px) {
	.wallpaper_for_walls{
		margin: 0 -11.89px;
	}
	.wallpaper_walls_item{
		margin: 0px 11.89px 17px;
	}
}

@media only screen and (max-width: 735px) {
	.wallpaper_for_walls.freski_for_walls .wallpaper_walls_item{
		margin: 0 9px 15px;
	}
	.wallpaper_for_walls.freski_for_walls{
		margin: 0 -9px 12px -9px
	}
}
@media only screen and (max-width: 715px) {
	.wallpaper_for_walls.freski_for_walls .wallpaper_walls_item{
		margin: 0 5px 15px;
	}
	.wallpaper_for_walls.freski_for_walls{
		margin: 0 -5px 12px -5px
	}
}

@media only screen and (max-width: 700px) {
	.wallpaper_for_walls.freski_for_walls .wallpaper_walls_item{
		width: 200px;
	}
}

@media only screen and (max-width: 667px) {
	.wallpaper_for_walls.freski_for_walls .wallpaper_walls_item{
		width: 190px;
	}
}

@media only screen and (max-width: 667px) {
	.oboi_box_main.oboi_big {
		margin: 0 -9px 1px -9px;
	}
	.oboi_box_main.oboi_big .oboi_box, 
	.wallpaper_brand_item, 
	.frascoes_razdel_box{
		margin: 0px 9px 17px;
	}
}

@media only screen and (max-width: 646px) {
	.oboi_box_main.oboi_big {
        margin: 0 -6px 0px -6px;
	}
	.oboi_box_main.oboi_big .oboi_box, 
	.wallpaper_brand_item, 
	.frascoes_razdel_box{
		margin: 0px 6px 17px;
	}
}

@media only screen and (max-width: 641px) {
	.wallpaper_for_walls.freski_for_walls .wallpaper_walls_item{
		width: 180px;
	}
}

@media only screen and (max-width: 637px) {
	.oboi_box_main.oboi_big {
		margin: 0 -5px 1px -5px;
	}
	.oboi_box_main.oboi_big .oboi_box, 
	.wallpaper_brand_item, 
	.frascoes_razdel_box{
		margin: 0px 5px 17px;
	}
}
@media only screen and (max-width: 633px){
	.goods_content_box .oboi_box_link{
		width: 170px;
		height: auto;
		
	}
}
@media only screen and (max-width: 631px) {
	.oboi_box_main.oboi_big {
        margin: 0 -3px 0px -3px;
	}
	.oboi_box_main.oboi_big .oboi_box{
		margin: 0px 3px 17px;
	}
	.news_articles_main .vertical_item{
		padding: 20px 0;
	}
	.data_time{
		margin-bottom: 10px;
	}
}
@media only screen and (max-width: 622px){
	.oboi_box_main.oboi_big .oboi_box, 
	.wallpaper_brand_item, 
	.frascoes_razdel_box {
        width: 180px;
	}
	.catalog2_figure_link_pd_img{
		padding: 0 15px;
	}
}

@media only screen and (max-width: 612px) {
	.wallpaper_for_walls.freski_for_walls .wallpaper_walls_item{
		width: 170px;
	}
}

@media only screen and (max-width: 600px) {
	.popup_center_goods{
		width: 225px;
	}
	.popup_center_goods .delivery_but{
		float: none;
		margin: 0 17px;
	}
	.goods_content_box .wallpaper_short_info_list{
		margin: 15px auto 0;
	}
	.wallpaper_short_info_list.sh_l{
		margin: 15px 0 0 0;	
		float: none;
		
	}
	.goods_content_box .oboi_box_link{
		margin-right: 15px;
		float: none;
		
	}
	.box_arctickmodal .check_butn_box{
		text-align: center;
    	margin: 35px 0px 0 0;
	}
	.check_butn_box .see_more_box_btn, 
	.check_butn_box .delivery_but{
		float: none;
		display: block;
		margin:0 auto 10px;
	}
}

@media only screen and (max-width: 598px) {
	.oboi_box_main.oboi_big .oboi_box, 
	.wallpaper_brand_item, 
	.frascoes_razdel_box{
		width: 172px;
	}
}
@media only screen and (max-width: 595px) {
	.wallpaper_for_walls{
		margin: 0 -10px;
	}
	.wallpaper_walls_item{
		margin: 0px 10px 17px;
	}
}

@media only screen and (max-width: 592px){
	.goods_content_box .oboi_box_link{
		margin: 0 auto;
	}
}
@media only screen and (max-width: 585px) {
	.wallpaper_for_walls{
		margin: 0 -8px;
	}
	.wallpaper_walls_item{
		margin: 0px 8px 17px;
	}
	.wallpaper_for_walls.freski_for_walls .wallpaper_walls_item{
		margin: 0 5px 15px;
	}
	.wallpaper_for_walls.freski_for_walls{
		margin: 0 -5px 12px -5px
	}
}

@media only screen and (max-width: 576px) {
	.wallpaper_for_walls.freski_for_walls .wallpaper_walls_item{
		margin: 0 15px 15px;
	}
	.wallpaper_for_walls.freski_for_walls{
		margin: 0 -15px 12px -15px
	}
}

@media only screen and (max-width: 574px) {
	.oboi_box_main.oboi_big .oboi_box, 
	.wallpaper_brand_item, 
	.frascoes_razdel_box{
		width: 165px;
	}
}
@media only screen and (max-width: 573px) {
	.wallpaper_for_walls{
		margin: 0 -5px;
	}
	.wallpaper_walls_item{
		margin: 0px 5px 17px;
	}
}

@media only screen and (max-width: 564px) {
	.oboi_box_main.oboi_big .oboi_box, 
	.wallpaper_brand_item, 
	.frascoes_razdel_box{
		width: 160px;
	}
}

@media only screen and (max-width: 555px) {
	.wallpaper_for_walls{
		margin: 0 -11.89px;
	}
	.wallpaper_walls_item{
		margin: 0px 11.89px 17px;
	}
}

@media only screen and (max-width: 538px) {
	.oboi_box_main.oboi_big .oboi_box, 
	.wallpaper_brand_item, 
	.frascoes_razdel_box{
		width: 155px;
	}
}
@media only screen and (max-width: 530px){
	.news_articles_main .vertical_item .new_boxes_images{
		float: none;
		margin-bottom: 15px;
		margin-right: 0;	
	}
	.news_articles_main .vertical_item .vertical_right_text{
		width: 100%;
		text-align: justify;
		float: none;	
	}
}
@media only screen and (max-width: 528px) {
	.oboi_box_main.oboi_big {
		margin: 0 -14px 1px -14px;
	}
	.oboi_box_main.oboi_big .oboi_box, .wallpaper_brand_item, .frascoes_razdel_box{
		margin: 0 14px 32px;
	}
}

@media only screen and (max-width: 500px) {
	.wallpaper_short_info_list_item div{
		
	}
	.freski_card_wall_right .wallpaper_short_info_list.freski_card_wallpapers .wallpaper_short_info_list_item > div{
		line-height: 20px;
	}
	.wallpaper_short_info_list_item{

	}
	.wallpaper_short_info_list.freski_card_wallpapers{
		width: 100%;
	}
	.oboi_text_box .title3, 
	.any_page_right .title3{
		font-size: 22px; 
		line-height: 24px;
	}
	.freski_card_wall_right .wallpaper_short_info_list.freski_card_wallpapers .wallpaper_short_info_list_item > div:first-child{
		width: auto;
		padding-right: 10px;
	}
	.err_lab{
		font-size: 20px;
	}
}

@media only screen and (max-width: 467px) {
	.novelty, 
	.sale{
		width: 100%;
	}
}

@media only screen and (max-width: 418px) {
	.wallpaper_for_walls.freski_for_walls .wallpaper_walls_item{
		margin: 0 9px 15px;
	}
	.wallpaper_for_walls.freski_for_walls{
		margin: 0 -9px 12px -9px
	}
}

@media only screen and (max-width: 404px) {
	.wallpaper_for_walls{
		margin: 0 -8px;
	}
	.wallpaper_walls_item{
		margin: 0px 8px 17px;
	}
	.wallpaper_for_walls.freski_for_walls .wallpaper_walls_item{
		margin: 0 5px 15px;
	}
	.wallpaper_for_walls.freski_for_walls{
		margin: 0 -5px 12px -5px
	}
	.container_search_oboi_box.oboi_box_main.oboi_big .oboi_box {
	    margin: 0 5px 15px 0;
	}
	.container_search_oboi_box{
		margin: 0 -5px 0 0 !important;
	}
}

@media only screen and (max-width: 397px) {
	.wallpaper_for_walls.freski_for_walls .wallpaper_walls_item{
		width: 160px;
	}
}

@media only screen and (max-width: 395px) {
	.oboi_box_main.oboi_big {
		margin: 0 -9px 1px -9px;
	}
	.oboi_box_main.oboi_big .oboi_box, .wallpaper_brand_item, .frascoes_razdel_box{
		margin: 0 9px 32px;
	}
}

@media only screen and (max-width: 390px) {
	.wallpaper_walls_item{
		margin: 0px 8px 17px; 
		width: 160px;
	}
}

@media only screen and (max-width: 376px) {
	.wallpaper_for_walls{
		margin: 0 -5px;
	}
	.wallpaper_walls_item{
		margin: 0px 5px 17px; 
		width: 157px;
	}
	.oboi_box_main.oboi_big {
		margin: 0 -5px 1px -5px;
	}
	.oboi_box_main.oboi_big .oboi_box, .wallpaper_brand_item, .frascoes_razdel_box{
		margin: 0 5px 32px;
	}
	.wallpaper_for_walls.freski_for_walls .wallpaper_walls_item{
		width: 140px;
		margin: 0 9px 15px;
	}
	.wallpaper_for_walls.freski_for_walls{
		margin: 0 -9px 12px -9px
	}
}

@media only screen and (max-width: 366px) {
	.oboi_box_main.oboi_big .oboi_box {
        width: 150px;
	}
	.catalog2_figure_link_pd_img{
		padding: 0 10px;
	}
}
@media only screen and (max-width: 361px) {
	.wallpaper_walls_item{ 
		width: 153px;
	}
}

@media only screen and (max-width: 352px) {
	.wallpaper_for_walls.freski_for_walls .wallpaper_walls_item{
		width: 140px;
		margin: 0 5px 15px;
	}
	.wallpaper_for_walls.freski_for_walls{
		margin: 0 -5px 12px -5px
	}
}

@media only screen and (max-width: 356px) {
	.oboi_box_main.oboi_big .oboi_box, .wallpaper_brand_item, .frascoes_razdel_box {
        width: 145px;
	}
}

@media only screen and (max-width: 349px) {
	.wallpaper_walls_item{
		width: 147px;
	}
}

@media only screen and (max-width: 346px) {
	.oboi_box_main.oboi_big .oboi_box, .wallpaper_brand_item, .frascoes_razdel_box {
        width: 140px;
	}
}

@media only screen and (max-width: 340px){
	.oboi_brands_box_wall_item:first-child{
        margin-right: 10px;
    }
}

@media only screen and (max-width: 338px) {
	.wallpaper_walls_item{
		width: 138px;
	}
	.oboi_box_main.oboi_big .oboi_box, .wallpaper_brand_item, .frascoes_razdel_box{
		width: 140px;
	}
}

@media only screen and (max-width: 320px) {
}