/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (min-width: 1450px){
	.cards_frescoes_right_box {
		float: left;
	}
}
@media only screen and (max-width: 1400px) {
	.freski_card3_text {
        margin: 30px 18.5% 30px 0;
	}
}
@media only screen and (max-width: 1250px) {
	.oboi_img {
     width: 100%; 
     height: auto; 
	}	
}
@media only screen and (max-width: 1224px) {
	.sf-menu li	{
		margin: 2px 1px;
	}
}
@media only screen and (max-width: 1216px) {
	.wallpaper_for_walls{
		margin: 0 -10.4px;
	}
	.wallpaper_walls_item{
		margin: 0px 10.4px 17px;
	}
	.oboi_box_main.oboi_big {
		margin: 0 -9px 1px -9px;
	}
	.oboi_box_main.oboi_big .oboi_box{
		margin: 0 9px 32px;
	}
	.wallpaper_for_walls.freski_for_walls .wallpaper_walls_item{
		margin: 0 9px 15px;
	}
	.wallpaper_for_walls.freski_for_walls{
		margin: 0 -9px 12px -9px
	}
	.oboi_brands_box_wall_item:first-child{
        margin-right: 20px;
    }
    .news_block_hover_main_show{
    	width: 53.07692307692308%;
    }
}
@media only screen and (max-width: 1214px) {
	.near_box_images {
        margin: 4px -1px 0px -1px;
	}
	.near_box_images_links{
		margin: 1px;
	}
}
@media only screen and (max-width: 1200px) {
	.freski_card3_text {
        margin: 30px 0px 30px 0px;
	}
	.wallpaper_for_walls{
		margin: 0 -8px;
	}
	.wallpaper_walls_item{
		margin: 0px 8px 17px;
	}
	.about_card_wallpaper_right{
		margin-left: 0;
	}
	.about_card_wallpaper_right .carousel_main_box_item .flex-viewport,
	.about_card_wallpaper_right .carousel_main_box_item .flex-control-thumbs{
		float: none;
	}
	.carousel_main_box_item .flex-control-thumbs li{
		float: left;
		margin-right: 3px;
	}
	.carousel_main_box_item.podbor_oboev_carousel .flex-control-thumbs li{
		margin-bottom: 5px;
	}
	.carousel_main_box_item.podbor_oboev_carousel .flex-control-thumbs{
		display: block;
		float: none;
		margin-top: 1px;
		clear: none;
		overflow: hidden;
	}
	.carousel_main_box_item .flex-control-thumbs{
		display: block;
		margin-top: 5px;
		clear: both;
		overflow: hidden;
	}
	.about_card_wallpaper_right .carousel_main_box_item .flex-viewport{
		width: 99%;
	}
	.about_card_wallpaper_right .carousel_main_box_item .flexslider.thumbnails .buttons_on_carousel{
		display: inline-block;
		margin-bottom: 10px;
	}
	.about_card_wallpaper_right .carousel_main_box_item .flexslider.thumbnails .buttons_on_carousel .buttons_on_carousel_item1{
		position: relative;
		bottom: initial;
		float: left;
	}
	.about_card_wallpaper_right .buttons_on_carousel_item1{
		left: 0;
	}
}
@media only screen and (max-width: 1199px) {
	.short_info_main_box_item1{
		padding: 32px 0px 0px 0px;
	}
	.delivery_contacts{
		margin: -9px 0 27px 0px;
	}
	.delivery_form{
		width: 70%;
	}
	.flexslider2_main_box,
	.after_flex{
		margin-left: 0;
	}
	.new_left_bx .title3{
		font-size: 22px;
	}
	.aside_conteiner{
		width: 24%;
	}
}
@media only screen and (max-width: 1183px) {
	.header_place{
		padding-left: 0;
		width: 155px;
	}
}
@media only screen and (max-width: 1173px) {
	.wallpaper_for_walls.freski_for_walls .wallpaper_walls_item{
		margin: 0 5px 15px;
	}
	.wallpaper_for_walls.freski_for_walls{
		margin: 0 -5px 12px -5px
	}
}
@media only screen and (max-width: 1170px) {
	.near_carousel{
		width: 31%;
	}
	.carousel_main_box_item .flexslider {
        width: 68%;
	}
	.carousel_main_box_item{
		padding: 15px 10px;
	}
	.wallpaper_for_walls{
		margin: 0 -5px;
	}
	.wallpaper_walls_item{
		margin: 0px 5px 17px;
	}
	.oboi_box_main.oboi_big .oboi_box{
		width: 204px;
	}
}
@media only screen and (max-width: 1165px){
	.img_frescoes_interior{
		width: 100%;
	}
	.img_frescoes_interior img{
		width: 100%;
		height: auto;
	}
	.frescoes_interior .img_frescoes_interior{
		width: auto;	
	}
	.frescoes_interior .img_frescoes_interior.ex_frescoes_img{
		width: 504px;
	}
	.frescoes_interior .img_frescoes_interior.ex_frescoes_img img{
		width: auto;
	}
}
@media only screen and (max-width: 1156px) {
	.oboi_brands_box_wall_item:first-child{
        margin-right: 5px;
    }
}
@media only screen and (max-width: 1141px) {
	.wallpaper_for_walls.freski_for_walls .wallpaper_walls_item{
		margin: 0 14px 15px;
	}
	.wallpaper_for_walls.freski_for_walls{
		margin: 0 -14px 12px -14px
	}
	.oboi_brands_box_wall_item{
		width: 165px;
	}
	.wallpaper_short_info_list.freski_card_wallpapers{
		margin-left: 20px;
	}
}
@media only screen and (max-width: 1135px) {
	.wallpaper_for_walls{
		margin: 0 -11.89px;
	}
	.wallpaper_walls_item{
		margin: 0px 11.89px 17px;
	}
	.oboi_box_main.oboi_big {
		margin: 0 -5px 1px -5px;
	}
	.oboi_box_main.oboi_big .oboi_box, 
	.wallpaper_brand_item, 
	.frascoes_razdel_box{
		margin: 0 5px 32px;
	}
}
@media only screen and (max-width: 1124px) {
	.carousel_main_box_item .flex-viewport{
		width: calc(100% - 115px);
	}
	.frescoes_interior .img_frescoes_interior.ex_frescoes_img{
		height: auto;
	}
}
@media only screen and (max-width: 1100px) {
	.more_link_box{
		position: relative;
		bottom: 0;
	}
	.vertical_right_text .title2{
		font-size: 14px;
		letter-spacing: 0px;
	}
	.vertical_right_text{
		height: auto;
		overflow: initial;
	}
	.vertical_img{
		margin-right: 10px;
		width: 125px;
		height: auto;
	}
	.vertical_img_item{
		width: 100%;
		height: auto;
	}
	.vertical.flexslider .flex-viewport {
        height: 425px !important;
	}
	.checkout_form{
		width: 70%;
	}
}
@media only screen and (max-width: 1099px) {
	.news_block_hover_main_show,
	.news_block_hover_list_item.active .news_block_hover_list_link:before,
	.news_block_hover_list_item.active .news_block_hover_list_link:after,
	.news_block_hover_list_item:before{
		display: none;
	}
	.news_block__item1{
		float: none;
		width: 100%;
		margin-top: 0;
	}
	.news_block__item1 .title5{
		text-align: center;
		padding-bottom: 15px;
	}
	.news_block_hover_main_item{
		margin-top: 20px;
	}
	.news_block_hover_list.right_news_list .news_block_hover_list_item.active .news_block_hover_list_link {
        padding: 4.5px 11px 4.5px 10px;
	}
	.news_block_hover_list .news_block_hover_list_item.active .news_block_hover_list_link{
        border-right: 1px solid #CFCFCF;
	}
	.news_block_hover_list.right_news_list .news_block_hover_list_link{
		float: none;
		width: 100%;
	}
	.news_block_hover_list.right_news_list .news_block_hover_list_item:before{
		left: 0;
	}
	.news_block_hover_list.right_news_list + .news_link_div{
		padding-left: 10px;
	}
	.img_show{
		display: block;
		max-width: 300px;
		/*margin: auto;*/
	}
	.news_block_hover_main_show_img2{
		display: inline-block;
		max-width: 100%;
		height: auto;
	}
	.news_block_hover_list_item{
		border: 1px solid #EAEAEA;
		padding: 10px;	
		width: 48%;	
		display: inline-block;	
		margin: 0 7px 10px 0;
	}
	.news_block_hover_list{
		margin:0 -7px 0 0;
	}
	.news_block_hover_list_link{
		width: auto;
	}
	.news_block_hover_list_item.active{
        background-color: transparent;
        -webkit-transition: all 0s ease;
        -moz-transition: all 0s ease;
        -o-transition: all 0s ease;
        transition: all 0s ease;
	}
	.news_block_hover_list_item.active .news_block_hover_list_link,
	.news_block_hover_list.right_news_list,
	.news_block_hover_list_link ,
	.news_block_hover_list .news_block_hover_list_item.active .news_block_hover_list_link,
	.news_block_hover_list.right_news_list .news_block_hover_list_item.active .news_block_hover_list_link ,
	.news_block_hover_list .news_block_hover_list_item:last-child .news_block_hover_list_link,
	.news_block_hover_list .news_block_hover_list_item:last-child .news_block_hover_list_link:hover{
		border: none;
		background-color: transparent;
	}
	.news_block_hover_list.right_news_list .news_block_hover_list_item.active .news_block_hover_list_link,
	.news_block_hover_list_item.active .news_block_hover_list_link ,
	.news_block_hover_list_link{
        padding: 10px 0px 0px 0px;
	}
	.news_link_div_link{
		font-size: 16px;	
	}
	.oboi_box_main.oboi_big .oboi_box, 
	.wallpaper_brand_item, 
	.frascoes_razdel_box{
		width: 195px;
	}
}
@media only screen and (max-width: 1070px) {
	.content_right_col{
		margin-left: 60px;
	}
	.oboi_box_main.oboi_big {
		margin: 0 -14px 1px -14px;
	}
	.oboi_box_main.oboi_big .oboi_box, 
	.wallpaper_brand_item, 
	.frascoes_razdel_box{
		margin: 0 14px 32px;
	}
	.oboi_brands_box_wall_item{
		width: 155px;
	}
}
@media only screen and (max-width: 1066px) {
	.near_carousel {
        width: 31.5%;
	}
}
@media only screen and (max-width: 1052px) {
	.price_rub{
		font-size: 17px;
	}
}
@media only screen and (max-width: 1051px){
	.carousel_main_box_item .flex-viewport {
        width: calc(100% - 110px);
	}
	.carousel_main_box_item .flexslider{
		width: 80%;
	}
	.near_carousel{
		width: 100%;
		margin: 8px 0px 0 0;
	}
	.between_block_hr{
		margin: 15px 0 15px;
	}
	.carousel_main_box{
		max-height: 708px;
	}
}
@media only screen and (max-width: 1046px) {
	.menu {
        margin-left: -10px;
	}
	.menu_item{
		padding: 0 10px;
	}
}
@media only screen and (max-width: 1023px) {
	.checkout_form_item{
		margin-right: 0;
	}
	.checkout_form_input,
	.checkout_radio_box{
		width: 66%;
	}
}
@media only screen and (max-width: 1012px) {
	.wallpaper_for_walls{
		margin: 0 -8px;
	}
	.wallpaper_walls_item{
		margin: 0px 8px 17px;
	}
}
@media only screen and (max-width: 1003px) {
	.oboi_brands_box_wall_item{
		width: 150px;
	}
    .wallpaper_short_info_list.freski_card_wallpapers, 
    .freski_card_wall_right .counter_box, 
    .freski_card_wall_right .add_bsket{
    	margin-left: 0;
    } 
}
@media only screen and (max-width: 1000px) {
	.carousel_main_box_item .flexslider {
        width: 85%;
	}
}
@media only screen and (max-width: 991px) {
	.text_two_col.sale_two_col .oboi_text_box{
		margin: 15px 0px 15px 0px;
	}
	.cards_frescoes_right_box{
		width: 100% !important;
	}
	.contacts,
	.map,
	.delivery_form{
		width: 100%;
		float: none;
	}
	.contacts{
		margin-bottom: 20px;
	}
	.news_articles_main .vertical_item .vertical_right_text .more_link_box_it{
		position: static;
	}
	.content_right_col{
		margin-left: 0px;
	}
	.wallpaper_for_walls{
		margin: 0 -5px;
	}
	.wallpaper_walls_item{
		margin: 0px 5px 17px;
	}
	.checkout_content_box_item_right.oboi_check_it.ch_b_l{
		margin-left: 0;
		border-left: none;
		padding: 50px 10px 0 0px;
	}
	.checkout_content_box_item_right.oboi_check_it.ch_b_l .delivery_icon_box{
		width: 142px;
		float: left;
	}
	.checkout_content_box_item_right.oboi_check_it.ch_b_l{
		width: 320px;
	}
	.oboi_brands_box_wall_item:first-child{
        margin-right: 20px;
    }
}
@media only screen and (max-width: 974px) {
	.wallpaper_for_walls.freski_for_walls .wallpaper_walls_item{
		margin: 0 9px 15px;
	}
	.wallpaper_for_walls.freski_for_walls{
		margin: 0 -9px 12px -9px
	}
}
@media only screen and (max-width: 972px) {
	.cards_frescoes_figure{
		margin: 10px 10px 15px;
	}
	figure.cards_frescoes_figure.data-mh{
		width: 145px;
	}
}
@media only screen and (max-width: 970px) {
	.price_rub{
		padding-top: 8px;
	}
	.catalog2_figure_link img{
		width: 100%;
	}
	.catalog2_figure_link_pd_img{
		padding: 0 20px;
	}
	.content_right_col{
		margin-left: 0px;
	}
	.wallpaper_for_walls{
		margin: 0 -11.89px;
	}
	.wallpaper_walls_item{
		margin: 0px 11.89px 17px;
	}
}
@media only screen and (max-width: 950px){
	.carousel_main_box_item .flexslider {
        width: 89%;
	}
	.delivery_contacts{
		margin-left: 30px;
	}
}
@media only screen and (max-width: 944px) {
	.wallpaper_for_walls.freski_for_walls .wallpaper_walls_item{
		margin: 0 5px 15px;
	}
	.wallpaper_for_walls.freski_for_walls{
		margin: 0 -5px 12px -5px
	}
}
@media only screen and (max-width: 934px) {
	.box_arctickmodal{
		width: 750px;
	}
	.goods_content_box .wallpaper_short_info_list{
		margin-left: 15px;
	}
	.sh_l .wallpaper_short_info_list{
		width: 230px;
		margin-left: 0px;
	}
	.sh_l .after_ordering_text{
		width: 100%;
		margin-top: 20px;	
	}
	.wallpaper_short_info_list{
		
	}
	.goods_content_box .g_c_l, 
	.after_ordering.sh_l{
		float: none;
		width: 100%;
	}
}
@media only screen and (max-width: 925px){
	.product_table .lis_mod{
		margin-left: 15px;
		margin-top: 0;
	}
}
@media only screen and (max-width: 920px) {
	.wallpaper_for_walls.freski_for_walls .wallpaper_walls_item{
		margin: 0 14px 15px;
	}
	.wallpaper_for_walls.freski_for_walls{
		margin: 0 -14px 12px -14px
	}
}
@media only screen and (max-width: 911px) {
	.oboi_box_main.oboi_big {
		margin: 0 -9px 1px -9px;
	}
	.oboi_box_main.oboi_big .oboi_box, 
	.wallpaper_brand_item, 
	.frascoes_razdel_box{
		margin: 0 9px 32px;
	}
}
@media only screen and (max-width: 905px) {
	.header_bottom_nav{
		text-align: center;
	}
		.menu_btn_show{
			display: block;
		}
		.menu_header_absolute{
		    margin-left: 0;
		    /*display: none;*/
		    visibility: hidden;
		    opacity: 0;
		    -webkit-transition: all ease-in 0.2s;
		       -moz-transition: all ease-in 0.2s;
		        -ms-transition: all ease-in 0.2s;
		         -o-transition: all ease-in 0.2s;
		            transition: all ease-in 0.2s;
		    position: absolute;
		    top: 100%;
		    left: 0;
		    right: 0;
		    z-index: 99;
		    background-color: #ececec;
		}
			.menu_item{
				float: none;
				display: inline-block;
			}
		.show_menu .menu_header_absolute{
			opacity: 1;
			visibility: visible;
			box-shadow: 0px 3px 18px -4px;
		    -webkit-transition: all ease-in 0.2s;
		       -moz-transition: all ease-in 0.2s;
		        -ms-transition: all ease-in 0.2s;
		         -o-transition: all ease-in 0.2s;
		            transition: all ease-in 0.2s;
		}
	.img_and_info_tb.oboi_box_main.oboi_big .oboi_box{
		width: 170px;
	}
}
@media only screen and (max-width: 902px) {
	.wallpaper_for_walls.freski_for_walls .wallpaper_walls_item{
		margin: 0 14px 15px;
	}
	.wallpaper_for_walls.freski_for_walls{
		margin: 0 -14px 12px -14px
	}
	.error_search_box, 
	.error_search_box2{
		width: 100%;
	}
	.err_inp{
		width: 70%;
	}
}
@media only screen and (max-width: 900px){
	.carousel_main_box_item .flexslider{
		width: 100%;
	}
}
@media only screen and (max-width: 880px) {
	.content_right_col{
		margin-left: 15px;
	}
	.oboi_box_main.oboi_big {
		margin: 0 -5px 1px -5px;
	}
	.oboi_box_main.oboi_big .oboi_box, 
	.wallpaper_brand_item, 
	.frascoes_razdel_box{
		margin: 0 5px 32px;
	}
	.frescoes_interior .img_frescoes_interior.ex_frescoes_img img{
		width: 100%;
	}
}
@media only screen and (max-width: 873px) {
	.price_rub{
		padding-top: 7px;
	}
}
@media only screen and (max-width: 859px) {
	.oboi_box_main.oboi_big .oboi_box, 
	.wallpaper_brand_item, 
	.frascoes_razdel_box{
		width: 188px;
	}
}
@media only screen and (max-width: 849px) {
	.price_rub{
	}
}
@media only screen and (max-width: 835px) {
	.carousel_main_box{
		max-height: initial;
	}
}
@media only screen and (max-width: 832px) {
	.figure.cards_frescoes_figure.data-mh{
		width: 140px;
	}
	.cards_frescoes_right_box_content{
		padding: 0 16px;
	}
}

@media only screen and (max-width: 831px) {
	.oboi_box_main.oboi_big {
		margin: 0 -14px 1px -14px;
	}
	.oboi_box_main.oboi_big .oboi_box, 
	.wallpaper_brand_item, 
	.frascoes_razdel_box{
		margin: 0px 14px 17px;
	}
}
@media only screen and (max-width: 830px) {
	.product_table .lis_mod{
		margin-left: 10px;
	}
	.img_and_info_tb.oboi_box_main.oboi_big .oboi_box{
		width: 150px;
	}
}
@media only screen and (max-width: 823px) {
	.content_right_col{
		margin-left: 25px;
	}
	.wallpaper_for_walls{
		margin: 0 -8px;
	}
	.wallpaper_walls_item{
		margin: 0px 8px 17px;
	}
	.oboi_brands_box_wall_item:first-child{
        margin-right: 10px;
    }
    .box_arctickmodal{
		width: 100%;
	}
}
@media only screen and (max-width: 815px) {	
	.price_rub{
		padding-top: 8px;
	}
}

@media only screen and (max-width: 811px) {	
	.oboi_brands_box_wall_item{
		width: 145px;
	}
}

@media only screen and (max-width: 808px) {
	figure.cards_frescoes_figure.data-mh{
		width: 136px;
	}
	.cards_frescoes_right_box_content{
		padding: 0 14px;
	}
}
@media only screen and (max-width: 800px){
	.wallpaper_walls_item{
		margin: 0px 17px 17px;
	}
}
@media only screen and (max-width: 790px) {
	.wallpaper_for_walls{
		margin: 0 -5px;
	}
}

@media only screen and (max-width: 786px) {	
	.price_rub{
		padding-top: 8px;
	}
}

@media only screen and (max-width: 781px) {
	.price_rub{
		padding-top: 8px;
	}
}
@media only screen and (max-width: 779px) {
	.w490{
		width: 58%;
	}
	.w200{
		width: 14%;
	}
}
@media only screen and (max-width: 770px) {
	.oboi_brands_box_wall_item:first-child{
        margin-right: 5px;
    }
}
@media only screen and (max-width: 767px) {
	.header_top_number{
		text-align: center;
		margin-bottom: 15px;
	}
	.header_place{
		width: auto;
		float: none;
		padding-top: 15px;
		text-align: center;
	}
	.header_top_basket {
        margin-top: 15px;
        float: none;
        text-align: center;
	}
	.header_top_basket_button{
		-webkit-border-radius: 5px;
		        border-radius: 5px;
	}
	.buttons_on_carousel_item1,
	.buttons_on_carousel_item2{
		position: relative;
	}
	.buttons_on_carousel_item1{
		left: 0;
		bottom: initial;
		float: left;
	}
	.buttons_on_carousel_item2{
		top: 0;
		right: 0;
		float: right;
	}
	.buttons_on_carousel{
		margin-bottom: 10px;
	}
	.carousel_main_box_item .flex-control-thumbs,
	.carousel_main_box_item .flex-viewport{
		float: none;
		width: 100%;
	}
	.carousel_main_box_item .flex-control-thumbs{
		display: block;
		margin-top: 5px;
		clear: both;
		overflow: hidden;
	}
	.carousel_main_box_item .flex-control-thumbs li{
		float: left;
		margin-right: 3px;
	}
	.carousel_main_box_item .flex-viewport .slides li img{
		width: 100%;
		height: auto;
	}
	.oboi_box_main {
        margin: 0 -5px 1px -5px;
	}
	.oboi_box{
		margin: 0 5px 25px;
	}
	.title1{
		font-size: 20px;
		line-height: 22px;
	}
	.owl-carousel .owl-controls .owl-nav .owl-prev, 
	.owl-carousel .owl-controls .owl-nav .owl-next{
		width: 50px;
		height: 50px;
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
	}
	.carousel_owl_box_item {
        margin: 0 60px 3px 60px;
	}
	.owl-carousel .owl-controls .owl-nav .owl-prev{
		left: -55px;
	}
	.owl-carousel .owl-controls .owl-nav .owl-next{
		right: -55px;
	}
	.sf-menu li,
	.product_table [data-table-text]:before{
		display: block;
	}
	.title_hr_text{
		font-size: 22px;
	}
	.title_hr_text_main{
		margin-top: -14px;
	}
	.footer_adress,
	.tel_number{
		text-align: center;
	}
	.social{
		margin-top: 15px;
		text-align: center;
	}
		.social > div{
			display: inline-block;
			margin-right: 15px;
		}
	.product_th{
		display: none;
	}
	.product_tr{
		border: none;
		border-bottom: 2px solid #eaeaea;
		border-top: 2px solid #eaeaea;
	}
	.product_td{
		display: block;
		text-align: left;
		font-weight: bold;
		padding: 5px 0;
	}
	.product_table_span{
		padding: 12px 0 0 20px;
	}
	.img_and_info_tb.oboi_box_main.oboi_big{
		padding-top: 20px;
	}
	.img_and_info_tb.oboi_box_main.oboi_big .wallpaper_short_info_list.first{
		padding-bottom: 0;
	}

	.checkout_box_item .check_butn_box {
        margin: 30px 0;
	}
	.title4{
		font-size: 20px;
	}
	.checkout_form ,
	.checkout_content_box_item_right{
        width: 100%;
        float: none;
	}
	.checkout_content_box_item_right{
		padding: 30px 12px;
		height: auto;
	}
	.delivery_icon_box{
		float: left;
		width: 48%;
	}
	.checkout_content_box_item_right .delivery_icon_box:last-child{
		float: right;
	}
	.sf-menu ul{
		width: 100%;
		text-align: left;
	}
	.img_frescoes_interior{
		margin-bottom: 30px;
	}
	.fresc_inter_title{
		font-size: 22px;
	}
	.title3{
		font-size: 24px;
	}
	.frescoes_interior_h1,
	.delivery_aside{
		margin-bottom: 20px;
	}
	.reviews_in_scroll_left,
	.reviews_in_scroll_right{
		width: 100%;
	}
	.reviews_in_scroll_left{
		margin-bottom: 10px;
	}
	.reviews_scroll_item1{
		padding: 20px 45px 20px 30px;
	}
	.delivery_contacts{
		margin-left: 0;
	}
	.after_flex{
		margin-top: 20px;
	}
	.content_oboi_news .check_butn_box{
		margin-top: 10px;
	}
	.content_right_col{
		margin-left: 0px;
	}
	.novelty, 
	.sale{
		margin-right: 10px;
	}
	.aside_left_col{
		width: 100%; 
		margin-bottom: 20px;
	}
	.oboi_text_box .title3, 
	.any_page_right .title3{
		font-size: 22px; 
		line-height: 24px;
	}
	.oboi_text_box_item > div{
		width: 100%;
		float: none;
	}
	.wallpaper_for_walls{
		margin: 0 -6px;
	}
	.wallpaper_walls_item{
		margin: 0px 10px 17px;
	}
	.search_content{
		margin: 0;
	}	
    .about_card_wallpaper_left{
    	width: 260px;
    }
	.about_card_wallpaper_right{
		margin-left: 0;
	}
	.add_bsket{
		margin: 18px 0px;
		float: left;
	}
	.wallpaper_short_info_list.freski_card_wallpapers{
		margin: 35px 0 0 0;
		float: left;
	}
	.oboi_brands_box_wall_item:first-child{
        margin-right: 20px;
    }
    .price_rub{
		font-size: 19px;
		padding-top: 8px;
	}
	.about_card_wallpaper_left.freski_card_wall_left{
		width: 230px;
	}
	.checkout_content_box_item_right.oboi_check_it{
		margin-left: 0;
		border-left: none;
		padding: 50px 10px 0 0px;
	}
	.checkout_content_box_item_right.oboi_check_it .delivery_icon_box{
		width: 142px;
		float: left;
	}
	.checkout_content_box_item_right.oboi_check_it{
		width: 320px;
	}
	figure.cards_frescoes_figure.data-mh{
		width: 160px;
	}
	.cards_frescoes_figure{
		margin: 10px 15px 15px;
	}
	.aside_conteiner{
		width: 100%;
	}
	.err_lab{
		display: block;
		float: none;
	}
	.err_inp{
		margin-top: 10px;
		width: 100%;
		float: none;
	}
	.container_search_oboi_box.oboi_box_main.oboi_big .oboi_box{
	    margin: 0 20px 15px 0;
	}
	.container_search_oboi_box{
		margin: 0 -20px 0 0 !important;
	}
	.carousel_main_box_item.podbor_oboev_carousel .flex-control-thumbs{
		margin-top: 5px;
	}
}
@media only screen and (max-width: 739px) {
	.wallpaper_for_walls{
		margin: 0 -11.89px;
	}
	.wallpaper_walls_item{
		margin: 0px 11.89px 17px;
	}
}
@media only screen and (max-width: 735px) {
	.wallpaper_for_walls.freski_for_walls .wallpaper_walls_item{
		margin: 0 9px 15px;
	}
	.wallpaper_for_walls.freski_for_walls{
		margin: 0 -9px 12px -9px
	}
}
@media only screen and (max-width: 715px) {
	.wallpaper_for_walls.freski_for_walls .wallpaper_walls_item{
		margin: 0 5px 15px;
	}
	.wallpaper_for_walls.freski_for_walls{
		margin: 0 -5px 12px -5px
	}
}
@media only screen and (max-width: 700px) {
	.wallpaper_for_walls.freski_for_walls .wallpaper_walls_item{
		width: 200px;
	}
}
@media only screen and (max-width: 667px) {
	.wallpaper_for_walls.freski_for_walls .wallpaper_walls_item{
		width: 190px;
	}
	.oboi_box_main.oboi_big {
		margin: 0 -9px 1px -9px;
	}
	.oboi_box_main.oboi_big .oboi_box, 
	.wallpaper_brand_item, 
	.frascoes_razdel_box{
		margin: 0px 9px 17px;
	}
}
@media only screen and (max-width: 646px) {
	.oboi_box_main.oboi_big {
        margin: 0 -6px 0px -6px;
	}
	.oboi_box_main.oboi_big .oboi_box, 
	.wallpaper_brand_item, 
	.frascoes_razdel_box{
		margin: 0px 6px 17px;
	}
}

@media only screen and (max-width: 641px) {
	.wallpaper_for_walls.freski_for_walls .wallpaper_walls_item{
		width: 180px;
	}
}

@media only screen and (max-width: 637px) {
	.oboi_box_main.oboi_big {
		margin: 0 -5px 1px -5px;
	}
	.oboi_box_main.oboi_big .oboi_box, 
	.wallpaper_brand_item, 
	.frascoes_razdel_box{
		margin: 0px 5px 17px;
	}
}
@media only screen and (max-width: 633px){
	.goods_content_box .oboi_box_link{
		width: 170px;
		height: auto;
	}
}
@media only screen and (max-width: 631px) {
	.oboi_box_main.oboi_big {
        margin: 0 -3px 0px -3px;
	}
	.oboi_box_main.oboi_big .oboi_box{
		margin: 0px 3px 17px;
	}
	.news_articles_main .vertical_item{
		padding: 20px 0;
	}
	.data_time{
		margin-bottom: 10px;
	}
}
@media only screen and (max-width: 622px){
	.oboi_box_main.oboi_big .oboi_box, 
	.wallpaper_brand_item, 
	.frascoes_razdel_box {
        width: 180px;
	}
	.catalog2_figure_link_pd_img{
		padding: 0 15px;
	}
}

@media only screen and (max-width: 612px) {
	.wallpaper_for_walls.freski_for_walls .wallpaper_walls_item{
		width: 170px;
	}
}
@media only screen and (max-width: 600px) {
	.popup_center_goods{
		width: 225px;
	}
	.popup_center_goods .delivery_but{
		float: none;
		margin: 0 17px;
	}
	.goods_content_box .wallpaper_short_info_list{
		margin: 15px auto 0;
	}
	.wallpaper_short_info_list.sh_l{
		margin: 15px 0 0 0;	
		float: none;
	}
	.goods_content_box .oboi_box_link{
		margin-right: 15px;
		float: none;
	}
	.box_arctickmodal .check_butn_box{
		text-align: center;
    	margin: 35px 0px 0 0;
	}
	.check_butn_box .see_more_box_btn, 
	.check_butn_box .delivery_but{
		float: none;
		display: block;
		margin:0 auto 10px;
	}
}

@media only screen and (max-width: 598px) {
	.oboi_box_main.oboi_big .oboi_box, 
	.wallpaper_brand_item, 
	.frascoes_razdel_box{
		width: 172px;
	}
}
@media only screen and (max-width: 595px) {
	.wallpaper_for_walls{
		margin: 0 -10px;
	}
	.wallpaper_walls_item{
		margin: 0px 10px 17px;
	}
}
@media only screen and (max-width: 592px) {
	.goods_content_box .oboi_box_link{
		margin: 0 auto;
	}
}
@media only screen and (max-width: 587px) {
	.wallpaper_walls_item{
		margin: 0px 5px 17px;
	}
}
@media only screen and (max-width: 585px) {
	.wallpaper_for_walls{
		margin: 0 -8px;
	}
	.wallpaper_for_walls.freski_for_walls .wallpaper_walls_item{
		margin: 0 5px 15px;
	}
	.wallpaper_for_walls.freski_for_walls{
		margin: 0 -5px 12px -5px
	}
}
@media only screen and (max-width: 576px) {
	.wallpaper_for_walls.freski_for_walls .wallpaper_walls_item{
		margin: 0 15px 15px;
	}
	.wallpaper_for_walls.freski_for_walls{
		margin: 0 -15px 12px -15px
	}
}
@media only screen and (max-width: 574px) {
	.oboi_box_main.oboi_big .oboi_box, 
	.wallpaper_brand_item, 
	.frascoes_razdel_box{
		width: 165px;
	}
}
@media only screen and (max-width: 573px) {
	.wallpaper_for_walls{
		margin: 0 -5px;
	}
	.wallpaper_walls_item{
		margin: 0px 5px 17px;
	}
}
@media only screen and (max-width: 567px){
	.wallpaper_walls_item{
		margin: 0px 17px 17px;
	}
}
@media only screen and (max-width: 564px) {
	.oboi_box_main.oboi_big .oboi_box, 
	.wallpaper_brand_item, 
	.frascoes_razdel_box{
		width: 160px;
	}
}
@media only screen and (max-width: 555px) {
	.wallpaper_for_walls{
		margin: 0 -11.89px;
	}
	.wallpaper_walls_item{
		margin: 0px 11.89px 17px;
	}
}
@media only screen and (max-width: 538px) {
	.oboi_box_main.oboi_big .oboi_box, 
	.wallpaper_brand_item, 
	.frascoes_razdel_box{
		width: 155px;
	}
}
@media only screen and (max-width: 530px) {
	.sf-menu ul{
		min-width: 10em;
	}
	.title_hr_text {
        font-size: 20px;
        padding: 0 15px;
	}
	.title3{
		font-size: 22px;
	}
	.news_articles_main .vertical_item .new_boxes_images{
		float: none;
		margin-bottom: 15px;
		margin-right: 0;	
	}
	.news_articles_main .vertical_item .vertical_right_text{
		width: 100%;
		text-align: justify;
		float: none;	
	}
}
@media only screen and (max-width: 528px) {
	.oboi_box_main.oboi_big {
		margin: 0 -14px 1px -14px;
	}
	.oboi_box_main.oboi_big .oboi_box, 
	.wallpaper_brand_item, 
	.frascoes_razdel_box{
		margin: 0 14px 32px;
	}
}
@media only screen and (max-width: 500px){
	.checkout_form_input, 
	.checkout_radio_box ,
	.checkout_form_textarea{
        width: 100%;
        float: none;
        display: block;
	}
	.checkout_form_label{
		padding: 0 0 10px 0;
		float: none;
		display: block;
	}
	.freska_in_interier,
	.point_input,
	.del_form_point_textarea,
	.point_input.w211{
		width: 100%;
	}
	.del_form_point{
		margin-right: 0;
	}
	.point_input,
	.point_label{
		float: none;
		display: block;
	}
	.point_label{
		padding: 0 0 10px 0;
	}
	.freski_card_wall_right .wallpaper_short_info_list.freski_card_wallpapers .wallpaper_short_info_list_item > div{
		line-height: 20px;
	}
	.wallpaper_short_info_list.freski_card_wallpapers{
		width: 100%;
	}
	.oboi_text_box .title3, 
	.any_page_right .title3{
		font-size: 22px; 
		line-height: 24px;
	}
	.freski_card_wall_right .wallpaper_short_info_list.freski_card_wallpapers .wallpaper_short_info_list_item > div:first-child,
	.wallpaper_short_info_list.freski_card_wallpapers .wallpaper_short_info_list_item > div:first-child{
		width: auto;
		padding-right: 10px;
	}
	.err_lab{
		font-size: 20px;
	}
}
@media only screen and (max-width: 492px){
	.cards_frescoes_right_box_content {
        padding: 0 22px 0 5px;
	}
	.cards_frescoes_right_box_content .cards_frescoes_figure{
		margin: 10px 10px 15px;
	}
}
@media only screen and (max-width: 480px){
	.checkout_box_item .check_butn_box .see_more_box_btn{
		margin-top: 15px;
		clear: both;
	}
}
@media only screen and (max-width: 469px){
	.news_block_hover_list_item{
		width: 100%;	
		margin: 0 0 10px 0;
		display: block;	
	}
	.news_block_title{
		font-size: 14px;	
	}
	.news_link_div{
		padding-top: 10px;	
	}
}
@media only screen and (max-width: 467px) {
	.novelty, 
	.sale{
		width: 100%;
	}
}
@media only screen and (max-width: 455px) {
	.cards_frescoes_right_box_content {
		text-align: center;
	}
	.cards_frescoes_right_box_content .cards_frescoes_figure {
        margin: 10px 2px 15px;
        text-align: left;
        float: none;
        display: inline-block;
	}
}
@media only screen and (max-width: 450px) {
	.img_and_info_tb.oboi_box_main.oboi_big .oboi_box{
		float: none;
		margin: auto;
	}
	.product_table .lis_mod{
		margin-left: 0;
		margin-top: 10px;
		float: none;
	}
	.img_and_info_tb.oboi_box_main.oboi_big .lis_mod .title_h5{
		text-align: center;
		font-size: 15px;
	}
	.delivery_icon_box,
	.checkout_content_box_item_right .delivery_icon_box:last-child{
		width: 100%;
		float: none;
	}
}
@media only screen and (max-width: 435px) {
	.ex_img_frescoes_interior img{
		width: 100%;
		height: auto;
	}
}
@media only screen and (max-width: 420px) {
	.footer_list_link{
		font-size: 13px;
	}
}
@media only screen and (max-width: 418px) {
	.wallpaper_for_walls.freski_for_walls .wallpaper_walls_item{
		margin: 0 9px 15px;
	}
	.wallpaper_for_walls.freski_for_walls{
		margin: 0 -9px 12px -9px
	}
}
@media only screen and (max-width: 404px) {
	.wallpaper_for_walls{
		margin: 0 -8px;
	}
	.wallpaper_walls_item{
		margin: 0px 8px 17px;
	}
	.wallpaper_for_walls.freski_for_walls .wallpaper_walls_item{
		margin: 0 5px 15px;
	}
	.wallpaper_for_walls.freski_for_walls{
		margin: 0 -5px 12px -5px
	}
	.container_search_oboi_box.oboi_box_main.oboi_big .oboi_box {
	    margin: 0 5px 15px 0;
	}
	.container_search_oboi_box{
		margin: 0 -5px 0 0 !important;
	}
}
@media only screen and (max-width: 397px) {
	.wallpaper_for_walls.freski_for_walls .wallpaper_walls_item{
		width: 160px;
	}
	.wallpaper_walls_item{
		margin: 0px 8px 17px; 
		width: 160px;
	}
}
@media only screen and (max-width: 395px) {
	.oboi_box_main.oboi_big {
		margin: 0 -9px 1px -9px;
	}
	.oboi_box_main.oboi_big .oboi_box, 
	.wallpaper_brand_item, 
	.frascoes_razdel_box{
		margin: 0 9px 32px;
	}
}
@media only screen and (max-width: 384px) {
	.carousel_main_box_item .flex-control-thumbs li{
		width: 90px;
        height: 72px;
	}
	.wallpaper_walls_item{
		margin: 0px 5px 17px; 
		width: 157px;
	}
}
@media only screen and (max-width: 380px) {
	.buttons_on_carousel_item1, 
	.buttons_on_carousel_item2{
		float: none;
		margin: 3px 0;
	}
}
@media only screen and (max-width: 376px) {
	.wallpaper_for_walls{
		margin: 0 -5px;
	}
	.oboi_box_main.oboi_big{
		margin: 0 -5px 1px -5px;
	}
	.oboi_box_main.oboi_big .oboi_box, 
	.wallpaper_brand_item, 
	.frascoes_razdel_box{
		margin: 0 5px 32px;
	}
	.wallpaper_for_walls.freski_for_walls .wallpaper_walls_item{
		width: 140px;
		margin: 0 9px 15px;
	}
	.wallpaper_for_walls.freski_for_walls{
		margin: 0 -9px 12px -9px
	}
}
@media only screen and (max-width: 370px) {
	.wallpaper_walls_item{
		width: 138px;
	}
}
@media only screen and (max-width: 366px) {
	.oboi_box_main.oboi_big .oboi_box {
        width: 150px;
	}
	.catalog2_figure_link_pd_img{
		padding: 0 10px;
	}
}
@media only screen and (max-width: 362px) {
	.social{
		margin-top: 5px;
	}
	.social > div{
		margin-right: 10px;
		margin-top: 5px;
	}
}
@media only screen and (max-width: 360px) {
	.header_bottom_nav{
		float: none;
		clear:both;
	}
	.menu_btn_show{
		display: inline-block;
		text-align: center;
	}
	.header_bottom_search_field{
		width: 100%;
	}
}
@media only screen and (max-width: 356px) {
	.oboi_box_main.oboi_big .oboi_box, 
	.wallpaper_brand_item, 
	.frascoes_razdel_box {
        width: 145px;
	}
}
@media only screen and (max-width: 352px) {
	.wallpaper_for_walls.freski_for_walls .wallpaper_walls_item{
		width: 140px;
		margin: 0 5px 15px;
	}
	.wallpaper_for_walls.freski_for_walls{
		margin: 0 -5px 12px -5px
	}
}
@media only screen and (max-width: 346px) {
	.oboi_box_main.oboi_big .oboi_box, 
	.wallpaper_brand_item, 
	.frascoes_razdel_box {
        width: 140px;
	}
}
@media only screen and (max-width: 345px){
	.carousel_main_box_item .flex-control-thumbs li{
		width: 80px;
        height: 64px;
	}
}
@media only screen and (max-width: 340px){
	.oboi_brands_box_wall_item:first-child{
        margin-right: 10px;
    }
}
@media only screen and (max-width: 338px) {
	.oboi_box_main.oboi_big .oboi_box, 
	.wallpaper_brand_item, 
	.frascoes_razdel_box{
		width: 140px;
	}
}
@media only screen and (max-width: 320px) {
 body{min-width: 320px;}

}