@import "../css/reset.css";
@import "../css/bootstrap.css";
@import "../build/mediaelementplayer.min.css";
@import "../css/superfish.css";
@import "../css/flexslider.css";
@import "../css/owl.carousel.css";
/*@import "../css/liza_style.css";*/
/*@import "../css/andrew_style.css";*/
/*@import "../css/dilya_style.css";*/
@import "../css/jquery.jscrollpane.css";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,100,100italic,300,300italic&subset=latin,cyrillic);
@import "../fonts/Calibri-Bold.css";
@import "../fonts/Calibri-Regular.css";
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 400;
  font-size:13px;
  line-height:normal;
  color:#666;
  min-width:320px;
  background-color: #fff;
  -webkit-text-size-adjust: none;
}
*{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/*----------------------> Links And buttons <------------------*/
a {
  color:#;
  outline:none;
  text-decoration:none;
  cursor:pointer;
}
a:hover{
  color:#;
  text-decoration:none;
}

.btn{
  display:inline-block;
  padding:0 0 0;
  margin: 0 0 0;
  font-size: px;
  line-height: px;
  color:#;
 }
.btn:hover{
  background:;
  color:#000;
}
button{
    outline:none;
    cursor: pointer;
}
/*----------------------> Basic Classes <------------------*/
.reg {text-transform:uppercase}
.f_left {float:left}
.f_right {float:right}
.al_left{text-align: left;}
.al_right {text-align:right}
.al_center {text-align:center}

.it{font-style:italic}
.let{letter-spacing:-1px}

.full_w{
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.val_mid{vertical-align: middle;}
/*----------------------> Indents Zero <------------------*/

.m_t_zero{ margin-top:0 !important;}
.m_b_zero{ margin-bottom:0 !important;}
.m_r_zero{ margin-right:0 !important;}
.m_l_zero{ margin-left:0 !important;}
.p_t_zero{ padding-top:0 !important;}
.p_b_zero{ padding-bottom:0 !important;}
.p_r_zero{ padding-right:0 !important;}
.p_l_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.wrapper {overflow:hidden}
.f_elem>*:first-child{margin-top: 0 !important;}
.f_elem1>*:first-child{margin-top: 0 !important;border: none !important;}

.bg_none{ background:none !important;}

/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_ib{ display:inline-block;}
.d_none{ display:none;}
.d_tc{ display:table-cell;}
.d_t{ display:table;}


/*----------------------> Basic Colors <------------------*/

.white{color: #fff;}
.bc_42{color: #424242}

/*----------------------> Font-size <------------------*/
.fz14{font-size: 14px;}

/*======================> Header <======================*/

header {}
    .header_top{
        /*height: 79px;*/
        background-color: #222;
        padding: 7px 0 8px 0;
    }
    .header_top_number{
        color: #fffefe;
        line-height: 13px;
    }
        .header_top_number_it{
            
        }
            .tel1{
                font-size: 18px;
                font-weight: 700;
                line-height: 22px;
                padding-bottom: 2px;
            }
            .tel2{
                font-size: 17px;
                font-weight: 500;
                line-height: 20px;
                padding-bottom: 4px;
            }
            .tel3{
                font-size: 14px;
                font-weight: 500;
                line-height: 16px;
            }
            .txt_free{
                line-height: 22px;
                padding-left: 2px;
                font-size: 15px;
                font-weight: 400;
            }
        .header_place{
            color: white;
            width: 247px;
            font-size: 13px;
            font-weight: 400;
            line-height: 18px;
            padding-top: 4px;
            padding-left: 25px;
        }
        .header_top_basket{
            margin-top: -7px;
        }
            .header_top_basket_button{
                color: #202020;
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
                display: inline-block;
                padding: 5px 15px 3px 41px;
                background-color: #FFF;
                border: none;
                position: relative;
                z-index: 5;
                cursor: pointer;
                outline: none;
                -webkit-border-radius: 0 0 5px 5px;
                        border-radius: 0 0 5px 5px;
            }
            .header_top_basket_button:hover{
                opacity: 0.8;
            }
            .header_top_basket_button:before{
                position: absolute;
                top: 4px;
                left: 7px;
                content: "";
                background: url(../images/header_top_basket_icon.png) 0 0 no-repeat;
                width: 20px;
                height: 16px;
            }
  .logo{
      text-align: center;
      padding-top: 5px;
  }
    .logo a{
      display:inline-block;
      width: 209px;
      height: 44px;
      background:url(../images/logo.png) 0 0 no-repeat;
      text-decoration:none;
      text-indent:-9999px;
    }

.header_bottom{
    background-color: #ececec;
}
    .header_bottom_nav{
        float: left;
    }
        .menu{
            margin-left: -21px;
        }
            .menu_item{
                float: left;
                padding: 0px 21px;
            }
                .menu_link{
                    color: #202020;
                    font-size: 17px;
                    line-height: 20px;
                    border-bottom: 3px solid transparent;
                    padding: 11px 0 7px 0;
                    display: inline-block;
                }
                .menu_item.current .menu_link,
                .menu_link:hover{
                    border-bottom: 3px solid #0f0201;
                }
                .menu_item.current .menu_link{
                    
                }
    .header_bottom_search_field{
        width: 187px;
        height: 27px;
        margin: 7px 0;
        position: relative;
    }
        .menu_btn_show {
            display: none;
            /* float: left; */
            color: #000;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 500;
            padding: 10px 22px 10px 45px;
            position: relative;
            outline-style: none;
            background: #ececec;
            border: none;
        }
        .menu_btn_show:before {
            position: absolute;
            content: "";
            top: 50%;
            margin-top: -10px;
            left: 10px;
            width: 25px;
            height: 4px;
            background-color: #424242;
            -webkit-box-shadow: 0 4px 0 transparent, 0 8px 0 #424242,0 12px 0 transparent,0 16px 0 #424242;
            box-shadow: 0 4px 0 transparent, 0 8px 0 #424242,0 12px 0 transparent,0 16px 0 #424242;
            display: block;
        }
        .menu.active {
            display: block;
        }
        .header_bottom_search_field_it{
            width: 100%;
            height: 100%;    
            background-color: white;
            border: 1px solid #939393;
            -webkit-border-radius: 5px !important;
                    border-radius: 5px !important;
            padding: 7px 30px 7px 7px;
        }
        .header_bottom_search_button{
            position: absolute;
            top: 0px;
            right: 0px;
            background: url(../images/search_icon.png) 30% 50% no-repeat;
            width: 27px;
            height: 27px;
            border: none;
            outline: none;
            padding: 0;
            cursor: pointer;
        }
          .header_bottom_search_button:hover{
            opacity: 0.7;
          }

/*===========================header end===========================*/


/*=====================> Content ========================*/
#content {padding:0px 0px 0px 0px; /*min-height: 1500px;*/}

/*============================index html start============================*/
/*player start*/
.video_player{
    height: 300px;
    width: 100%;
    margin: 1px 0 30px 0;
    position: relative;
    z-index: 10;
    overflow: hidden;
}
.video_player .mejs-overlay.mejs-layer.mejs-overlay-play:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/video_overlay.png) 0 0 repeat;
}
.video_player .mejs-overlay-play{
    height: 300px !important;
}
.video_player .mejs-container .mejs-controls{
    bottom: -300px;
    visibility: hidden;
}
.video_player .mejs-container:hover .mejs-controls{
    visibility: visible;
}
.video_player .mejs-overlay-button {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 83px !important;
        width: 83px !important;
        margin: -41.5px 0 0 -41.5px !important;
        background: url(../build/player_icon.png) 0 0 no-repeat;
        z-index: 99;
}
.video_player .mejs-overlay:hover .mejs-overlay-button {
        background-position: 0 0;
        opacity: 0.5;
}
/*player end*/

.filter_content_box_main{
    margin-bottom: 30px;
}
.superfish .sf-arrows .sf-with-ul{
    background: #2d2d2d url(../images/ground.png) 0 0 repeat;
    color: #fff;
    padding: 13px 45.1px 13px 35.5px;
    -webkit-border-radius: 7px;
            border-radius: 7px;
    font-size: 18px;
    line-height: 20px;
    font-family: 'Calibri-Regular';
    font-weight: 400;
}
.superfish .sf-arrows .sf-with-ul:after{
    border: none;
    width: 14px;
    height: 8px;
    background: url(../images/filter_arrow.png) 0 0 no-repeat;
    right: 21px;
}
/*.sf-arrows > li > .sf-with-ul:focus:after,*/ 
.sf-arrows > li:hover > .sf-with-ul:after, 
.sf-arrows > .sfHover > .sf-with-ul:after{
    border-top-color: transparent;
    -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: all ease-in 0.5s;
       -moz-transition: all ease-in 0.5s;
        -ms-transition: all ease-in 0.5s;
         -o-transition: all ease-in 0.5s;
            transition: all ease-in 0.5s;
}
.sf-menu li.sfHover .sf-with-ul{
    background-color: #6F6F6F;
}
.sf-menu a {
    color: #424242;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}


.oboi_box_main_list{
    
}
    .oboi_box_main{
        margin: 0 -8.5px 1px -8.5px;
        text-align: center;
    }
    .oboi_box_main.oboi_big_main{
        margin: 0;
    }
        .oboi_box{
            width: 131px;
            margin: 0 8.5px 25px 8.5px;
            float: left;
            display: inline-block;
            text-align: left;
        }
            .oboi_box_link{
                display: block;
                margin-bottom: 9px;
                position: relative;
                /*width: 131px;*/
                /*height: 118px;*/
            }
            .oboi_box_link:before,
            .oboi_box_link:after,
            .oboi_box_link.second_position:before,
            .oboi_box_link.second_position:after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 16px;
                width: 16px;
                background-color: #FFF;
            }
            .oboi_box_link:after{
                bottom: 0;
                right: 0;
                top: initial;
                left: initial;
            }
            .oboi_box_link.second_position:before{
                top: 0;
                right: 0;
                left: initial;
                bottom: initial;
            }
            .oboi_box_link.second_position:after{
                bottom: 0;
                left: 0;
                right: initial;
                top: initial;
            }

                .oboi_box_img{
                    display: inline-block;
                    width: 100%;
                    height: auto;
                }
            .oboi_box_text{
                color: #424242;
            }
                .oboi_box_name{
                    font-size: 12px;
                    display: block;
                    line-height: 13px;
                    padding-bottom: 5px;
                }
                .oboi_box_cost{
                    font-size: 14px;
                    display: block;
                    font-weight: 500;
                    text-transform: uppercase;
                }
hr{
    border: none;
    border-bottom:2px solid #E9E9E9;
    margin: 13px 0;
}

.carousel_main_box{
    max-height: 474px;
    overflow: hidden;
}
    .carousel_main_box_item{
        background-color: #222;
        -webkit-border-radius: 7px;
                border-radius: 7px;
        padding: 15px 14px 14px 14px;
        max-width: 1170px;
        margin: 0 auto;
    }
    .carousel_main_box_item .flexslider{
        width: 69.6%;
        float: left;
    }
        .carousel_main_box_item .flex-viewport{
            float: right;
            width: 85.3%;
        }
        .carousel_main_box_item .flex-control-thumbs{
            width: auto;
            display: inline-block;
            float: left;
            margin-top: -2px;
            overflow: initial;
        }
        .carousel_main_box_item .flex-direction-nav{
            display: none;
        }
            .carousel_main_box_item .flex-control-thumbs li{
                float: none;
                display: block;
                width: 103px;
                height: 84px;
                margin-bottom: 6px;
            }
            .carousel_main_box_item .flex-control-thumbs li:last-child{
                margin-bottom: 0;
            }
                .carousel_main_box_item .flex-control-thumbs img{    
                    border: 2px solid transparent;
                }
                .carousel_main_box_item .flex-control-thumbs img:hover,
                .carousel_main_box_item .flex-control-thumbs img.flex-active{
                    border: 2px solid #fff;
                }
                .buttons_on_carousel{
                    
                }
                    .buttons_on_carousel_item1{
                        padding: 9.5px 55px;
                        background-color: #eee;
                        color: #626161;
                        font-size: 14px;
                        line-height: 18px;
                        z-index: 99;
                        bottom: 10px;
                        left: 124px;
                        border: none;
                    }
                    
                    .buttons_on_carousel_item2{
                        padding: 10px 23px 7px 51px;
                        background-color: white;
                        border: 1px solid #cfcfcf;
                        top: 8px;   
                        right: 8px; 
                        z-index: 99;    
                        font-size: 14px;
                        line-height: 18px;
                    }
                    .buttons_on_carousel_item1:hover,
                    .buttons_on_carousel_item2:hover{
                        background-color: #DCD8D8;
                    }
                        .buttons_on_carousel_item2:after{
                            content:"";
                            position: absolute; 
                            top: 7px;   
                            left: 15px; 
                            height: 20px;    
                            width: 24px;    
                            background: url(../images/carousel_basket_icon.png) 0 0 no-repeat;
                        }

    .near_carousel{
        float: right;
        width: 28.296%;
        margin: 8px -3px 0 0;
    }
        .near_carousel_item{

        }
        .near_carousel_item.m_b_zero .near_box_images{
            margin-bottom: -3px;
        }
            .near_title{
                font-size: 17px;
                line-height: 18px;
                color: #bababa;
            }
            .near_box_images{
                margin: 4px -3px 0px -3px;
            }
                .near_box_images_links{
                    width: 76px;
                    height: 76px;
                    border: 2px solid transparent;
                    float: left;
                    display: inline-block;
                    margin: 3px;
                    position: relative;
                }
                .near_box_images_links:hover,
                .near_box_images_links.current{   
                    border: 2px solid #fff;
                }
                .near_box_images_links.last_link .near_box_images_it{
                    background-color: #262626;
                    opacity: 0.5;
                }
                .near_box_images_links.last_link:hover{
                    border: 2px solid transparent;
                }
                .near_box_images_links.last_link .text_on_img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    color: #FFF;
                    font-size: 15px;
                    vertical-align: middle;
                    display: inline-block;
                    text-align: center;
                    z-index: 9;
                }
                .near_box_images_links.last_link .text_on_img:before{
                    content: "";
                    margin-left: 0px;
                    visibility: hidden;
                    height: 100%;
                    display: inline-block;
                    vertical-align: middle;
                }
                    .near_box_images_it{
                        
                    }
                    .between_block_hr{
                        width: 100%;
                        height: 1px;
                        border: none;
                        margin: 33px 0 31px;
                        background: -moz-linear-gradient(left,  rgba(233,233,233,0) 0%, rgba(233,233,233,1) 50%, rgba(233,233,233,0) 100%); /* FF3.6+ */
                        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(233,233,233,0)), color-stop(50%,rgba(233,233,233,1)), color-stop(100%,rgba(233,233,233,0))); /* Chrome,Safari4+ */
                        background: -webkit-linear-gradient(left,  rgba(233,233,233,0) 0%,rgba(233,233,233,1) 50%,rgba(233,233,233,0) 100%); /* Chrome10+,Safari5.1+ */
                        background: -o-linear-gradient(left,  rgba(233,233,233,0) 0%,rgba(233,233,233,1) 50%,rgba(233,233,233,0) 100%); /* Opera 11.10+ */
                        background: -ms-linear-gradient(left,  rgba(233,233,233,0) 0%,rgba(233,233,233,1) 50%,rgba(233,233,233,0) 100%); /* IE10+ */
                        background: linear-gradient(to right,  rgba(233,233,233,0) 0%,rgba(233,233,233,1) 50%,rgba(233,233,233,0) 100%); /* W3C */
                    }

.carousel_owl_box{
    max-height: 183px;
    overflow: hidden;   
    margin-bottom: 37px;
}
    .title_hr{
        position: relative;
        margin: 25px 0;
        line-height: normal;
    }
    .title_hr_item{
        border-bottom: 2px solid #dbdbdb;
        width:  100%;
        margin: 0;
    }
    .title_hr_text_main{
        text-align: center;
        margin-top: -17px;
        position: relative;
    }
        .title_hr_text{
            font-size: 24px;    
            color:  #202020;
            text-align: center; 
            display: inline-block;  
            padding: 0 20px;
            background-color: #fff;
            text-transform: uppercase;
        }
    .carousel_owl_box_item{
        margin: 0 66px 3px 66px;
    }
        .brands_carousel_item {
            display: block;
            line-height: 112px;
            text-align: center;
            /*float: left;*/
        }
        .brands_carousel_item a, .brands_carousel_item a img {
            visibility: visible;
            opacity: 1;
            -webkit-transform-style: flat !important;
            -moz-transform-style: flat !important;
            transform-style: flat !important;
        }
        .brands_carousel_item a:hover, .brands_carousel_item a:hover img {
            opacity: 0.5;
            visibility: visible;
        }
        .brands_carousel_item_img {
            line-height: 112px;
            vertical-align: middle;
            display: inline-block !important;
            text-align: center;
        }
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next{
    background: url(../images/owl_car_hor_arr.png) 0 0 no-repeat;
    width: 60px;
    height: 60px;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    margin-top: -30px;
}        
.owl-carousel .owl-controls .owl-nav .owl-prev{
    left: -65px;
}
.owl-carousel .owl-controls .owl-nav .owl-next{
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    right: -65px;
}

.short_info_main_box{
    background-color: #f5f5f5;
}
    .short_info_main_box_item1{
        color: #424242;
        padding: 32px 35px 0 0;
    }
        .short_info_main_box_item1 .title1{
            margin-bottom: 14px;
        }
        .short_info_main_box_item1 p{
            color: #424242;
            margin-bottom: 16px;
            text-align: justify;
        }
        .short_info_main_box_item1 sup{
            vertical-align: super;
            font-size: xx-small;
        }
    .short_info_main_box_item2{
        background-color: #FFF;
        padding: 45px 0 0 0;
        margin-top: 2px;
        border-left: 1px solid #dbdbdb;
        border-right: 1px solid #dbdbdb;
    }
        .short_info_main_box_item2 .title_hr{
            margin: 0 19px;
        }
        .vertical.owl_carousel{
            
        }
            .vertical_item{
                padding: 22px 19px 20px 15px;
                border-bottom: 1px solid whitesmoke;
            }
                .vertical_img{
                    width: 154px;
                    height: 118px;
                    -webkit-border-radius: 6px;
                            border-radius: 6px;
                    overflow: hidden;
                    margin-right: 18px;
                }
                    .vertical_img_item{
                        width: 154px;
                        height: 118px;
                        -webkit-border-radius: 6px;
                        border-radius: 6px;
                    }
                .vertical_right_text{
                    position: relative;
                    overflow: hidden;
                    height: 118px;
                }
                    .vertical_right_text .title2{
                        padding-bottom: 4px;
                    }
                    .data_time{
                        color: #696969;
                        font-size: 14px;
                    }
                    .more_link_box{
                        position: absolute;
                        bottom: 11px;
                        left: 0;
                    }
                        .more_link_box_item{
                            color: #202020;
                            font-size: 13px;
                            font-weight: 400;
                            text-decoration: underline;
                        }
                .vertical.flexslider .flex-direction-nav .flex-prev,
                .vertical.flexslider .flex-direction-nav .flex-next{
                    background: url(../images/owl_car_vert_arr.png) 0 0 no-repeat;
                    width: 41px;
                    height: 41px;
                    position: relative;
                    text-indent: 0;
                }
                .vertical.flexslider .flex-direction-nav .flex-prev:hover,
                .vertical.flexslider .flex-direction-nav .flex-next:hover,
                .owl-carousel .owl-controls .owl-nav .owl-prev:hover,
                .owl-carousel .owl-controls .owl-nav .owl-next:hover{
                    opacity: 0.5;
                }
                .vertical.flexslider .flex-control-thumbs{
                    display: none;
                }
                .vertical.flexslider .flex-direction-nav{
                    text-align: center;
                    padding: 12px 0;
                }
                .vertical.flexslider .flex-direction-nav li{
                    display: inline-block;
                    margin-right: 7px;
                }
                .vertical.flexslider .flex-direction-nav .flex-prev{
                    left: 0;
                }
                .vertical.flexslider .flex-direction-nav .flex-next{
                    right: 0;
                    -webkit-transform: rotate(180deg);
                       -moz-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                         -o-transform: rotate(180deg);
                            transform: rotate(180deg);
                }
                .vertical.flexslider .flex-viewport {
                    height: 483px !important;
                }
.bb2_col{border-bottom: 2px solid #d7d6d6;}
/*============================index html end============================*/
/*============================oboi html start============================*/
.content_right_col{
    margin-left: 40px;
}
    .oboi_img{
        /*width: 100%;
        height: auto;*/
    }
        .oboi_text_box{
            margin-bottom: 40px;
            margin-top: 19px;
        }
            .oboi_text_box .title3{
                margin-bottom: 14px;
            }
            .oboi_text_box p{
                color: #424242;
                margin-bottom: 16px;
                text-align: justify;
                letter-spacing: -0.1px;
                max-width: 100%;
                overflow: hidden;
            }
            .oboi_text_box_item{
                
            }
                .oboi_text_box_item > div{
                    width: 48.066%;
                }
.wallpaper_for_walls{
    margin: 0 -11.89px;
}
    .wallpaper_walls_item{
        width: 167px;
        margin: 0 11.89px 17px;
        float: left;
    }
        .wallpaper_walls_img{
            /*width: 167px;*/
            display: block;
        }
            .wallpaper_walls_img_it{
                width: 100%;
                height: auto;
                display: inline-block;
            }
        .wallpaper_walls_txt{
            border-bottom: 2px solid #e9e9e9;
            text-align: center;
        }
            .wallpaper_walls_txt a{
                text-align: center;
                display: block;
                text-decoration: none;
                font-size: 14px;
                line-height: 16px;
                color: #424242;
                padding: 11px 0 5px 0;
            }
            .wallpaper_walls_txt a:hover{
                text-decoration: underline;
            }

.text_two_col{
    padding-bottom: 11px;
}
    .text_two_col_item{
        
    }
        .text_two_col_item p{
            color: #424242;
            max-width: 100%;
            overflow: hidden;
        }
/*============================oboi html end============================*/
/*============================sale_page start============================*/
.text_two_col.sale_two_col{
    padding-bottom: 0;
}
    .text_two_col.sale_two_col .oboi_text_box{
        margin: 15px 0 30px 0;
    }
.oboi_box_main.oboi_big{
    margin: 0 -14px 0 -14px;
}
    .oboi_box_main.oboi_big .oboi_box{
        width: 208px;
        /*width: 211px;*/
        margin: 0 14px 32px;
    }
        .oboi_box_main.oboi_big .oboi_box_link{
            margin-bottom: 10px;
        }
        .oboi_box_main.oboi_big .oboi_box_name{
            font-size: 13px;
            padding-bottom: 7px;
        }
        .oboi_box_main.oboi_big .oboi_box_cost{
            font-size: 16px;
        }
        .oboi_box_link:before, 
        .oboi_box_link:after, 
        .oboi_box_link.second_position:before, 
        .oboi_box_link.second_position:after{
            width: 26px;
            height: 26px;
        }
        .see_more_box{
            text-align: center;
            margin-top: 7px;
            margin-bottom: 37px;
        }
            .see_more_box_btn{
                border: none;
                padding: 5px 0px 5px 44px;
                font-size: 16px;
                line-height: 20px;
                text-transform: uppercase;
                color: #424242;
                display: inline-block;
                background: url(../images/icon_see_more.png) 0 0 no-repeat;
            }
            .see_more_box_btn:hover{
                opacity: 0.8;
            }
/*============================sale_page end============================*/
/*============================checkout start============================*/
.checkout_main_box{
    
}
.box{
    padding-top: 21px;
}
    .checkout_box_item{
        
    }
        .checkout_form{
            font-size: 14px;
            color: #424242;    
            width: 51.54639175257732%;
            float: left;
        }
        .checkout_form_item{
            /*margin-right: 69px;*/
            margin-right: 14%;
            padding-bottom: 16px;
        }
        .checkout_form_item:last-child{
            margin-right: 0px;
        }
            .checkout_form_label{
                float: left;
                padding-top: 8px;
            }
            .checkout_form_input{
                float: right;
                width: 60.55684454756381%;
                height: 30px;
                padding: 5px 10px;
                border: 1px solid #939393;
                color: #888;
                -webkit-border-radius: 10px !important;
                        border-radius: 10px !important;
            }
            .checkout_form_textarea{
                float: right;
                resize:none;
                width: 66%;
                height: 73px;
                border: 1px solid #939393;
                padding: 5px 10px;
                -webkit-border-radius: 10px;
                        border-radius: 10px;
            }
            .checkout_radio_box{
                width: 60.55684454756381%;
                padding-top: 7px;
            }
            .checkout_radio_box.choice{
                width: 100%;
            }
                .checkout_radio_box_item{
                    padding-bottom: 7px;
                }
                    .checkout_radio_input{
                        
                    }
                    input[type='radio'] {
                        display: none;
                    }
                    input[type='radio'] + label {
                        background: url(../images/icon_radio_button.png) 0 2px no-repeat;
                        font-size: 14px;
                        line-height: 17px;
                        cursor: pointer;
                        padding: 1px 0 1px 23px;
                        vertical-align: middle;
                    }
                    input[type='radio']:checked + label {
                        background-position: 0 -23px;
                    }
                    .checkout_radio__label{
                        
                    }

    .checkout_content_box_item_right{
        float: right;
        width: 188px;
        height: 377px;
        border: 2px solid #eaeaea;
        border-radius: 8px;
        padding: 30px 12px 15px;
        margin-top: -2px;
    }
        .delivery_icon_box {
            text-align: center;
            padding-bottom: 43px;
        }
            .delivery_icon_box_img {
                -webkit-border-radius: 50%;
                border-radius: 50%;
                text-align: center;
                width: 76px;
                height: 76px;
                margin: auto;
            }
                .delivery_icon_box_img_it {
                    display: inline-block;
                    text-align: center;
                    overflow: hidden;
                    height: 76px;
                    width: 76px;
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                }
            .delivery_icon_box_text {
                padding-top: 12px;
                font-size: 14px;
                line-height: 16px;
                color: #a6a5a5;
            }
            /*table start*/
    .product_table{
        table-layout: fixed;
        min-width: 100%;
        font-size: 14px;
        line-height: 26px;
        color: #424242;
        margin-bottom: 15px;
    }
        .product_tr{
            border: 2px solid #eaeaea;
        }
            .product_th{
                font-size: 15px;
                padding: 6px 0;
            }
            .w490{/*width: 490px;*/text-align: left;padding-left: 20px;width: 50.51546391752577%;}
            .w140{/*width: 140px;*/width: 14.43298969072165%;}
            .w200{/*width: 200px;*/width: 20.61855670103093%;}
            .w138{/*width: 138px;*/width: 14.22680412371134%;}
            .product_td{
                padding: 20px 0;
            }
                .product_table_span{
                    padding-top: 30px;
                }
                .img_and_info_tb{
                    padding-left: 21px;
                }
                .img_and_info_tb.oboi_box_main.oboi_big{
                    margin: 0;
                    text-align: left;
                }
                .img_and_info_tb.oboi_box_main.oboi_big .oboi_box{
                    margin: 0;
                    display: block;
                    text-align: initial;
                }
                    .img_and_info_tb.oboi_box_main.oboi_big .oboi_box .oboi_box_link{
                        margin-bottom: 0;
                    }
                    .img_and_info_item{
                        
                    }
                        .img_and_info_item img{
                            
                        }
                    .lis_mod{
                        margin-left: 26px;
                        margin-top: -6px;
                    }
                        .lis_mod .title_h5{
                            
                        }
                        .wallpaper_short_info_list{
                            
                        }
                        .wallpaper_short_info_list.first{
                            padding-bottom: 26px;
                        }
                            .wallpaper_short_info_list_item{
                                
                            }
                            .wallpaper_short_info_list_item > div{
                                
                            }
                            .wallpaper_short_info_list_item > div:last-child{
                                padding-left: 3px;
                            }
        /*responsive table start*/
        .product_table [data-table-text]:before{
            display: none;
            font-size: 15px;
            line-height: 30px;
            height: 30px;
            padding: 0 20px;
            color: #424242;
            background-color: #ececec;
            content: attr(data-table-text);
            text-align: left;
        }
        .product_table .product_tr .product_td[data-table-text]:first-child:before{
            background-color: #222;
            color: #FFF;
        }
        /*responsive table end*/

        /*table end*/
    .total_box{
        font-size: 14px;
        color: #424242;
        margin-right: 30px;
        padding-top: 13px;
    }
        .total_box span{
            padding-left: 18px;
        }
    .check_butn_box{
        margin:45px 0 41px 0;
    }
        .check_butn_box .see_more_box_btn{
            padding: 10px 0 10px 44px;
            background: url(../images/icon_see_more2.png) 0 50% no-repeat;
        }
        .check_butn_box .delivery_but{
            padding: 13px 51.5px;
        }
/*============================checkout end============================*/
/*============================freski start============================*/
.wallpaper_for_walls.freski_for_walls{
    margin: 0 -14px 12px -14px;
}
    .wallpaper_for_walls.freski_for_walls .wallpaper_walls_item{
        width: 211px;
        margin: 0 14px 15px;
    }
        .wallpaper_for_walls.freski_for_walls .wallpaper_walls_txt a{
            padding: 11px 0 10px 0;
        }

/*============================freski end============================*/
/*============================freski_card start============================*/
.about_card_wallpaper{
    
}
    .about_card_wallpaper .check_butn_box{
        margin: 0 0 11px 0;
    }
    .about_card_wallpaper .check_butn_box .see_more_box_btn{
        padding: 5px 0 5px 44px;
    }
    .about_card_wallpaper_left{
        width: 100%;        
    }
        .card_wallpaper_img_box{
            position: relative;
        }
        .card_wallpaper_img_box:before,
        .card_wallpaper_img_box:after{
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 4.88%;
            height: 5.41%;
            background-color: #FFF;
        }
        .card_wallpaper_img_box:after{
            top: initial;
            left: initial;
            bottom: 0;
            right: 0;
        }
            .about_card_wallpaper_img{
                width: 100%;
            }
        .counter_box {
            width: 100%;
            margin-top: 18px;
        }
        .counter_box.counter_box_l{
            width: 264px;
        }
            .price_rub {
                float: left;
                font-size: 20px;
                line-height: 22px;
                color: #E84C3D;
                padding-top: 8px;
            }
                .price_rub i {
                    color: #424242;
                    font-style: normal;
                }
            .counter_box_arrow {
                float: right;
                margin: -4px -2px;
            }
                .counter_box_button {
                    width: 17px;
                    height: 18px;
                    border: 1px solid #939393;
                    margin: 4px 2px;
                    padding: 0;
                    display: block;
                    background: none;
                    position: relative;
                    cursor: pointer;
                    outline-style: none;
                    -webkit-border-radius: 2px;
                            border-radius: 2px;
                }
                .counter_box_button:hover {
                    background-color: #E6E6E6;
                }
                .counter_box_button.up:before {
                    content: "";
                    -webkit-transform: rotate(180deg);
                    -moz-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                    transform: rotate(180deg);
                    background: url(../images/icon_counter_arrow.png) 0 0 no-repeat;
                    width: 9px;
                    height: 7px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-left: -4.5px;
                    margin-top: -3.5px;
                }
                .counter_box_button.down:before {
                    content: "";
                    background: url(../images/icon_counter_arrow.png) 0 0 no-repeat;
                    width: 9px;
                    height: 7px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-left: -4.5px;
                    margin-top: -3.5px;
                }
            .counter_input {
                float: right;
                margin-right: 3px;
                width: 40px;
                height: 40px;
                padding: 5px;
                text-align: center;
                font-size: 15px;
                line-height: 18px;
                border: 1px solid #939393;
                color: #424242;
                -webkit-border-radius: 7px !important;
                        border-radius: 7px !important;
            }
        .add_bsket{
            margin-top: 30px;            
        }
            .add_bsket_item{
                text-align: center;
                border: none;
                font-size: 15px;
                line-height: 18px;
                padding: 10.5px 8px 10.5px 35px;
                color: #fefefe;
                text-transform: uppercase;
                background: #4c4c4c url(../images/icon_bskt_btn.png) 9px 50% no-repeat;
                -webkit-border-radius: 9px;
                        border-radius: 9px;
            }
            .add_bsket_item:hover{
                opacity: 0.6;
            }

    .about_card_wallpaper_right{
        margin-left: 50px;
        overflow: hidden;
        min-height: 471px;
        max-width: 817px;
    }
        .about_card_wallpaper_right .carousel_main_box_item{
            padding: 15px 11px 14px 16px;
        }
        .about_card_wallpaper_right .carousel_main_box_item .flexslider{
            width: 100%;
        }
        .about_card_wallpaper_right .carousel_main_box_item .flex-viewport {
            float: left;
            width: 85.3%;
        }
        .about_card_wallpaper_right .carousel_main_box_item .flex-control-thumbs{
            float: right;
        }
        .about_card_wallpaper_right .buttons_on_carousel_item1{
            left: 8px;
        }

    .oboi_brands_box_wall{
        margin-right: -16px;
    }
        .oboi_brands_box_wall_item{
            width: 173px;
            position: relative;
            z-index: 5;
            float: left;
        }
        .oboi_brands_box_wall_item:first-child{
            margin-right: 40px;
        }
            .oboi_brands_box_wall_img{
                border: 1px solid #e6e6e6;
                width: 100%;
                height: auto;
            }
            .oboi_brands_box_figcaption{
                padding-top: 17px;
            }
                .oboi_brands_box_figcaption span{
                    color: #424242;
                    font-size: 14px;
                }
                .oboi_brands_box_figcaption .more_link_box_it{
                    padding-top: 3px;
                }
                    .oboi_brands_box_figcaption .more_link_box_it .more_link_box_item {
                        font-size: 14px;
                    }
    .wallpaper_short_info_list.freski_card_wallpapers{
        color: #424242;
        margin-left: 50px;
        font-size: 14px;
        line-height: 20px;
        margin-top: -3px;
    }
        .wallpaper_short_info_list.freski_card_wallpapers .wallpaper_short_info_list_item > div:first-child{
            width: 189px;
        }                
        .wallpaper_short_info_list.freski_card_wallpapers .wallpaper_short_info_list_item > div:last-child{
            padding-left: 0;
        }

    .checkout_content_box_item_right.oboi_check_it{
        border: none;
        border-left: 1px solid #dbdbdb;
        height: 211px;
        width: 177px;
        margin-left: 93px;
        padding: 2px 10px 0 25px;
        -webkit-border-radius: 0;
                border-radius: 0;
    }
        .checkout_content_box_item_right.oboi_check_it .delivery_icon_box{
            padding-bottom: 19px;
        }
            .checkout_content_box_item_right.oboi_check_it .delivery_icon_box_img{
                width: 56px;
                height: 56px;
            }
                .checkout_content_box_item_right.oboi_check_it .delivery_icon_box_img_it{
                    width: 56px;
                    height: 56px;        
                }
            .checkout_content_box_item_right.oboi_check_it .delivery_icon_box_text{
                padding-top: 5px;
                font-size: 13px;
            }

        .carousel_owl_box.freski_card_carousel_box{
            max-height: 227px;
            margin-bottom: 26px;
        }
            .carousel_owl_box_item.freski_card_carousel_box_item{
                margin-bottom: 0;
            }
                .carousel_owl_box_item.freski_card_carousel_box_item .related_item{
                    text-align: center;
                }
                .carousel_owl_box_item.freski_card_carousel_box_item .oboi_box{
                    margin: 0 1px;
                    float: none;
                }

        .reviews_scroll_box{
            background-color: #F5F5F5;
        }
        .bkgcf5.title_hr_text{
            background-color: #F5F5F5;
        }
        .reviews_scroll_box_item{
            background-color: #FFF;
            border: 2px solid #eaeaea;
            max-height: 434px;
            width: 100% !important;
            margin-bottom: 40px;
            overflow: hidden;
        }
            .reviews_scroll_item1{
                padding: 20px 51px 20px 30px;  
            }
            .reviews_scroll_box_item .jspPane{
                width: 100% !important;                              
            }
                .reviews_it_in_scroll{
                    border-bottom: 2px solid #eaeaea;
                    color: #424242;
                    padding: 27px 0 25px 0;
                }
                .reviews_scroll_item1 .reviews_it_in_scroll:first-child{
                    padding-top: 7px;
                }
                .reviews_scroll_item1 .reviews_it_in_scroll:last-child{
                    border-bottom: none;
                }
                .reviews_scroll_box_item .jspVerticalBar{
                    width: 17px;
                    -webkit-border-radius: 0;
                            border-radius: 0;
                        background-color: #fafafa;
                        border:1px solid #ECECEC;
                        border-top: none;
                        border-bottom: none;
                        bottom: 0;
                        right: -1px;
                }
                .reviews_scroll_box_item .jspVerticalBar .jspTrack .jspDrag {
                    border-radius: 0;
                    background-color: #E1E1E1;
                }
                    .reviews_in_scroll_left{
                        width: 22.05882352941176%;
                        font-size: 14px;
                        line-height: 20px;
                    }
                        .reviews_in_name{
                            margin-top: -1px;
                        }
                        .reviews_data{
                            color: #696969;
                        }
                    .reviews_in_scroll_right{
                        width: 76.93014705882354%;
                        font-size: 14px;
                        line-height: 18px;
                        text-align: justify;
                    }
                        .benefits,
                        .disadvantages{
                            margin-bottom: 0;
                        }
                            .benefits_txt,
                            .disadvantages_txt{
                                   
                            }
        .delivery_box_main{
            
        }
            .delivery_box_main_item{
                color: #424242;
                font-size: 14px;
                line-height: 18px;
                padding-top: 11px;
                padding-bottom: 26px;
            }
            .delivery_box_main_item p{
                
            }
                .list_delivery{
                    padding-bottom: 6px;
                }
                    .list_delivery_item{
                        background: url(../images/mark_icon_list.jpg) 15px 4px no-repeat;
                        padding-bottom: 10px;
                    }
                        .list_delivery_link{
                            padding-left: 23px;
                            text-decoration: underline;
                            color: #424242;
                            line-height: 14px;
                        }
                        .list_delivery_link:hover{
                            text-decoration: none;
                        }
                .delivery_box_main_item .more_link_box_it .more_link_box_item ,
                .garantiez_item .more_link_box_it .more_link_box_item{
                    font-size: 14px;
                }
        .garantiez{
        }
            .garantiez_item{
                margin-bottom: 30px;
                color: #424242;
                font-size: 14px;
                line-height: 18px;
            }
            .garantiez_item p{
                margin-bottom: 10px;
            }
            .garantiez_item .more_link_box_it{
                padding-top: 8px;
            }
/*============================freski_card end============================*/
/*============================freski_card_wall start============================*/
.about_card_wallpaper_left.freski_card_wall_left{
    width: 100%;
}
.about_card_wallpaper_left.freski_card_wall_left .card_wallpaper_img_box:before,
.about_card_wallpaper_left.freski_card_wall_left .card_wallpaper_img_box:after{
    width: 4.88%;
    height: 5.41%;
}
.freski_card_wall_right{
    /*margin-left: 50px;*/
}
    .freski_card_wall_right .wallpaper_short_info_list.freski_card_wallpapers .wallpaper_short_info_list_item > div{
        line-height: 26px;
    }
    .freski_card_wall_right .wallpaper_short_info_list.freski_card_wallpapers .wallpaper_short_info_list_item > div:first-child{
        width: 205px;
    }
    .freski_card_wall_right .counter_box,
    .freski_card_wall_right .add_bsket{
        margin-left: 50px;
    }
    /*===============================popup start===============================*/
    .box_arctickmodal {
        width: 887px;
        min-height: 494px;
        background-color: #FFF;
        position: relative;
        padding: 20px 23px 35px 23px;
        -webkit-border-radius: 8px;
                border-radius: 8px;
    }
        .arcticmodal-close {
            cursor: pointer;
            background: url(../images/icon_arcticmodal_close.png) 0 0 no-repeat;
            width: 16px;
            height: 16px;
            position: absolute;
            right: 18px;
            top: 16px;
            text-indent: -9999px;
        }
        .arcticmodal-close:hover{
            opacity: 0.6;
        }
        .arctick_title{
            font-size: 24px;
            line-height: 28px;
            color: #424242;
            text-align: center;
            padding: 0 20px;
        }
        .popup_center_goods{
           width: 440px;
           margin: 21px auto 0; 
        }
            .good_txt{
                font-size: 14px;
                line-height: 18px;
                padding: 10.5px 0;
                display: inline-block;
            }
            .popup_center_goods .delivery_but{
                padding: 13px 49px;
            }
            .goods_content_box{
                
            }
                .goods_content_box .oboi_box_link{
                    width: 211px;
                    height: 190px;
                    margin-top: 8px;
                }
                .goods_content_box .wallpaper_short_info_list {
                    margin-left: 35px;
                }
                    .goods_content_box .wallpaper_short_info_list_item{
                    
                    }
                        .goods_content_box .wallpaper_short_info_list_item > div{
                            line-height: 26px;   
                            font-size: 14px;
                            color: #424242;
                        }
                .after_ordering{
                    width: 213px;
                }
                    .after_ordering_text{
                        font-size: 14px;
                        line-height: 20px;
                        color: #424242;
                        border: 2px solid #EAEAEA;
                        padding: 12px 12px 12px 14px;
                        -webkit-border-radius: 6px;
                                 border-radius: 6px; 
                    }
                    .after_ordering .wallpaper_short_info_list{
                        margin-left: 0;
                        margin-top: 15px;
                        font-size: 14px;
                    }
                    .after_ordering .wallpaper_short_info_list_item > div:first-child{
                        padding-bottom: 15px;
                    }
                    .after_ordering .wallpaper_short_info_list_item > div:last-child{
                        padding-left: 0;
                    }
            .box_arctickmodal .check_butn_box{
                margin: 35px 13px 0 0;
                
            }
    /*===============================popup end===============================*/
/*============================freski_card_wall end============================*/
/*============================freski_interier start============================*/
/*============================freski_interier end============================*/
/*============================news_pagelist start============================*/

.news_block_hover_main{
    margin-bottom: 100px;
}
    .news_block_hover_main_item{
        margin-bottom: 27px;
    }
        .news_block__item1{
            width: 23.462%;
            margin-top: -6px;
        }
            .news_block__item1 .title5{
                padding-bottom: 7px;
            }
            .news_block_hover_list{
                
            }
            .news_block_hover_list.right_news_list{
                
            }
                .news_block_hover_list.right_news_list .news_block_hover_list_item{
                    clear:both;
                }
                .news_block_hover_list.right_news_list .news_block_hover_list_item:before{
                    left: 15px;
                }
                    .news_block_hover_list.right_news_list .news_block_hover_list_link{
                        float: right;
                    }
                    .news_block_hover_list.right_news_list .news_block_hover_list_item.active .news_block_hover_list_link{
                        padding: 4.5px 11px 4.5px 8%; 
                        border: 1px solid #CFCFCF;
                        border-right: 1px solid #CFCFCF;
                        border-left: none;
                    }
                    .news_block_hover_list.right_news_list .news_block_hover_list_item.active .news_block_hover_list_link:before{
                        border: 29px solid transparent;
                        border-right: 21px solid #cfcfcf;
                        right: initial;
                        left: -50px;
                    }
                    .news_block_hover_list.right_news_list .news_block_hover_list_item.active .news_block_hover_list_link:after{
                        right: initial;
                        left: -49px;
                        border: 29px solid transparent;
                        border-right: 20px solid #f5f5f5;
                    }
                    .news_block_hover_list.right_news_list + .news_link_div{
                        padding-left: 26px;
                    }
                .news_block_hover_list_item{
                    position: relative;
                    -webkit-transition: all 0s ease;
                    -moz-transition: all 0s ease;
                    -o-transition: all 0s ease;
                    transition: all 0s ease;
                } 
                .img_show{
                    display: none;
                    float: none;
                    clear: both;
                }
                .news_block_hover_list_item:before{
                    position: absolute;
                    content: "";
                    left: 0;
                    top: 12px;
                    width: 4px;
                    height: 4px;
                    background-color: #202020;
                    -webkit-border-radius: 50%;
                            border-radius: 50%;
                    -webkit-transition: all 0s ease;
                    -moz-transition: all 0s ease;
                    -o-transition: all 0s ease;
                    transition: all 0s ease;
                }
                    .news_block_hover_list_link{
                        display: block;
                        padding: 4.5px 11px 4.5px 11px;
                        width: 94.54545454545455%;
                        height: 58px;
                        -webkit-transition: all 0s ease;
                        -moz-transition: all 0s ease;
                        -o-transition: all 0s ease;
                        transition: all 0s ease;
                        border-top: 1px solid #EAEAEA;
                        border-bottom: 1px solid transparent;
                        margin-top: -1px;
                    }
                    .news_block_hover_list_item.active .news_block_hover_list_link{
                        background-color: #F5F5F5;
                        border: 1px solid #CFCFCF;
                        border-right: none;
                        position: relative;
                        z-index: 2;
                        -webkit-transition: all 0s ease;
                        -moz-transition: all 0s ease;
                        -o-transition: all 0s ease;
                        transition: all 0s ease;
                        padding: 4.5px 11px 4.5px 10px;
                        width: 100%;
                    }
                    .news_block_hover_list_item.active .news_block_hover_list_link:before{
                        content: "";
                        position: absolute;
                        right: -50px;
                        top: -1px;
                        border: 29px solid transparent;
                        border-left: 21px solid #cfcfcf;
                        -webkit-transition: all 0s ease;
                        -moz-transition: all 0s ease;
                        -o-transition: all 0s ease;
                        transition: all 0s ease;
                        z-index: 1;
                    }
                    .news_block_hover_list_item.active .news_block_hover_list_link:after{
                        content: "";
                        position: absolute;
                        right: -49px;
                        top: -1px;
                        border: 29px solid transparent;
                        border-left: 20px solid #f5f5f5;
                        -webkit-transition: all 0s ease;
                        -moz-transition: all 0s ease;
                        -o-transition: all 0s ease;
                        transition: all 0s ease;
                        z-index: 2;
                    }
                    .news_block_hover_list .news_block_hover_list_item:last-child .news_block_hover_list_link:hover{
                        border-bottom: 1px solid #CFCFCF;
                        /*padding: 12px 11px 12px 10px;*/
                        -webkit-transition: all 0s ease;
                        -moz-transition: all 0s ease;
                        -o-transition: all 0s ease;
                        transition: all 0s ease;
                    }
                    .news_block_hover_list .news_block_hover_list_item:last-child .news_block_hover_list_link{
                        border-bottom: 1px solid #EAEAEA;
                    }

                        .news_block_title{
                            font-size: 16px;
                            line-height: 17px;
                            color: #202020;
                            display: block;
                        }
                        .data_publication{
                            color: #696969;
                            font-size: 13px;
                            line-height: 16px;
                            display: block;
                        }
            .news_link_div{
                padding-top: 23px;
                padding-left: 10px;
                padding-bottom: 10px;
            }
                .news_link_div_link{
                    padding-right: 10px;   
                    background: url(../images/icon_breadcrumbs.png) 100% 50% no-repeat;
                    color: #7c7b7b;
                    font-size: 13px;    
                }
                .news_link_div_link:hover{
                    color: #424242;
                    text-decoration: underline;
                }
        .news_block_hover_main_show{
            width: 621px;
            height: 410px;
            margin: 24px auto 0;
        }
            .news_block_hover_main_show_img{
                width: 100%;
                height: auto;
            }
            .new_boxes_images{
                margin-right: 19px;
                float: left;
                height: 147px;
                width: 182px;
                overflow: hidden;   
                -webkit-border-radius:  7px;
                        border-radius:  7px;
            }
/*============================news_pagelist end============================*/


/*=====================> Paragraphs ========================*/

p {margin-bottom:16px}
.mb1{ margin-bottom:1px;}
.mb2{ margin-bottom:2px;}
.mb3{ margin-bottom:3px;}
.mb4{ margin-bottom:4px;}
.mb5{ margin-bottom:5px;}
.mb6{ margin-bottom:6px;}
.mb7{ margin-bottom:7px;}
.mb8{ margin-bottom:8px;}
.mb9{ margin-bottom:9px;}
.mb10{ margin-bottom:10px;}
.mb11{ margin-bottom:11px;}
.mb12{ margin-bottom:12px;}
.mb13{ margin-bottom:13px;}
.mb14{ margin-bottom:14px;}
.mb15{ margin-bottom:15px;}
.mb16{ margin-bottom:16px;}
.mb17{ margin-bottom:17px;}
.mb18{ margin-bottom:18px;}
.mb19{ margin-bottom:19px;}
.mb20{ margin-bottom:20px;}
.mb21{ margin-bottom:21px;}
.mb22{ margin-bottom:22px;}
.mb22imp{ margin-bottom:22px !important;}
.mb23{ margin-bottom:23px;}
.mb24{ margin-bottom:24px;}
.mb25{ margin-bottom:25px;}
.mb26{ margin-bottom:26px;}
.mb27{ margin-bottom:27px;}
.mb28{ margin-bottom:28px;}
.mb29{ margin-bottom:29px;}
.mb30{ margin-bottom:30px;}
.mb31{ margin-bottom:31px;}
.mb32{ margin-bottom:32px;}
.mb33{ margin-bottom:33px;}
.mb34{ margin-bottom:34px;}
.mb35{ margin-bottom:35px;}
.mb36{ margin-bottom:36px;}
.mb37{ margin-bottom:37px;}
.mb38{ margin-bottom:38px;}
.mb39{ margin-bottom:39px;}
.mb40{ margin-bottom:40px;}
.mb41{ margin-bottom:41px;}
.mb42{ margin-bottom:42px;}
.mb43{ margin-bottom:43px;}
.mb44{ margin-bottom:44px;}
.mb45{ margin-bottom:45px;}
.mb46{ margin-bottom:46px;}
.mb47{ margin-bottom:47px;}
.mb48{ margin-bottom:48px;}
.mb49{ margin-bottom:49px;}
.mb50{ margin-bottom:50px;}
.mb51{ margin-bottom:51px;}
.mb52{ margin-bottom:52px;}
.mb53{ margin-bottom:53px;}
.mb54{ margin-bottom:54px;}
.mb55{ margin-bottom:55px;}
.mb58{ margin-bottom:58px;}
.mb62{ margin-bottom:62px;}
.mb75{ margin-bottom: 75px;}
.mb80{ margin-bottom: 80px;}
.mb100{ margin-bottom: 100px;}

.mt2{ margin-top:2px;}
.mt7{ margin-top:7px;}
.mt10{ margin-top:10px;}
.mt12{ margin-top:12px;}
.mt15{ margin-top:15px;}
.mt20{margin-top: 20px;}
.mt28{ margin-top:28px;}
.mt37{ margin-top:37px;}
.mt44{ margin-top:44px;}
.mt50{margin-top:50px;}

.ml14{margin-left: 14px;}
.ml20{margin-left: 20px;}

.pt15{padding-top: 15px !important;}
.pl4{padding-left: 4px;}
.pl5{padding-left: 5px;}
.pl8{padding-left: 8px;}
.pl51{padding-left: 51px;}
.pl68{padding-left: 68px;}
/*=====================> Lists ========================*/
.list1{}
.list1 li{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list1 a{}

.list2{}
.list2 li{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list2 a{}

.list3{}
.list3 li{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list3 a{}

/*=====================> Titles ========================*/
h2,h3,h4{
  font-weight:normal;
}
.title1{
  font-size: 24px;
  font-weight: 700;
  color: #202020;
}

.title2{
  font-size: 16px;
  line-height: 17px;
  letter-spacing: -0.4px;
  color: #202020;
}
.title3{
  font-size: 27px;
  font-weight: 700;
  color: #202020;
}
.title4{
  font-size: 24px;
  color: #202020;
  padding-bottom: 7px;
  padding-top: 25px;
  margin-bottom: 30px;
  border-bottom: 2px solid #eaeaea;
}
.title4.bdn{
    border-bottom: none;
}
.title5{
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    color: #202020;
}


/*================================>> GOOGLE FONTS  <<========================================*/
.roboto_thin{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
.roboto_light{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.roboto_normal{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.roboto_medium{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.roboto_bold{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.roboto_ultra_b{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
.calibri_bold{
    font-family:'Calibri-Bold';
}
.calibri_regular{
    font-family:'Calibri-Regular';
}

/*================================>> hovers <<========================================*/
a{
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
a:hover{
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}


/*==============>breadcrumbs================*/
.breadcrumbs_section{
    padding-bottom: 33px;
}
    .breadcrumbs{
        display: block;
        list-style: none;
        margin: 10px 0 14px 0;
    }
        .breadcrumbs_it{
            position: relative;
            float: left;
            margin-right: 4px;
            padding-right: 10px;
        }
        .breadcrumbs_it:before{
            display: block;
            position: absolute;
            right: 0;
            top: 8px;
            content: "";
            background: url(../images/icon_breadcrumbs.png) 0 0 no-repeat;
            width: 6px;
            height: 6px;
        }
        .breadcrumbs .breadcrumbs_it:last-child:before{
            display: none;
        }
            .breadcrumbs_it a{
                text-decoration: none;
                color: #7c7b7b;
            }
            .breadcrumbs .breadcrumbs_it:first-child a{padding-left: 0;}
            .breadcrumbs_it a:hover{
                text-decoration: underline;
            }
                .breadcrumbs_current{
                    font-size: 13px;
                    line-height: 21px;
                    color: #7c7b7b;
                    letter-spacing: -0.2px;
                }
/*==============>breadcrumbs end================*/
/*================================>> Footer <<========================================*/
    footer {
        padding:23px 0px 10px 0px;
        /*height: 198px;*/
        background-color: #202020;
    }
        .footer{
        }
            .footer_list{       
            }
                .footer_list_item{
                    margin: 1.5px 0 3.5px 0;
                    
                }
                    .footer_list_link{
                        color: white;
                        font-size: 14px;
                        padding: 2px 0;
                    }
                    .footer_list_link:hover{
                        opacity: 0.5;
                    }

            .footer_adress{
                font-size: 14px;
                padding: 5px 0 9px 0px;
            }
            .footer_adress span{padding-bottom: 1px;}
            .tel_number{
                /*padding-left: 69px;*/
            }
                    .footer_txt_number{
                        font-size: 16px;
                        line-height: 24px;
                        padding-bottom: 2px;
                    }
                    .footer_first_number{
                        font-size: 19px;
                        line-height: 22px;
                        padding-bottom: 12px;
                    }
                    .footer_second_number{
                        font-size: 17px;
                        line-height: 22px;
                    }


    .social{
      margin: -3.5px 0 0 0;
      /*padding-left: 58px;*/
    }
    .social a{
      display:inline-block;
      padding: 5px 0 5px 41px;
      font-size: 14px;
      line-height: 18px;
      color: #FFF;
      margin: 2.5px 0;
    }
    .social a:hover{
        opacity: 0.5;
    }
    .facebook{
        background: url(../images/facebook_icon.png) 0 0 no-repeat;
    }
    .twitter{
        background: url(../images/twitter_icon.png) 0 0 no-repeat;
    }
    .vk{
        background: url(../images/vk_icon.png) 0 0 no-repeat;
    }

    .footer_copy{
        line-height: 18px;
        font-size: 13px;
        color: #bdb9b9;
        padding-top: 15px;
    }

/*============================ Arctic modal =============================*/
.arcticmodal-overlay,
.arcticmodal-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 1000; }
.arcticmodal-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
*:first-child+html .arcticmodal-container { height: 100% }
.arcticmodal-container_i { height: 100%; margin: 0 auto; }
.arcticmodal-container_i2 { padding: 24px; margin: 0; border: 0; vertical-align: middle; }
.arcticmodal-error { padding: 20px; border-radius: 10px; background: #000; color: #fff; }
.arcticmodal-loading { width: 80px; height: 80px; border-radius: 10px; background: #000 url(loading.gif) no-repeat 50% 50%; }
/*============================ zoom img start =============================*/
/**
 *
 *  essential styles
 *      - the following styles are essential to the functioning of the plugin
 *
 **/
.wm-zoom-container, .wm-zoom-box{
    position: relative;
}
.wm-zoom-box{
    margin: auto;
}
img.wm-zoom-default-img{
    height: auto;
}
.wm-zoom-lens{
    display: none;
    left: 0;
    position: absolute;
    top: 0;
}
.wm-zoom-hight{
    display: none;
    overflow: hidden;
    position: absolute;
}
.wm-zoom-hight img{
    left: 0;
    position: absolute;
    top: 0;
}
img.wm-zoom-loader{
    z-index: 1;
}
img.wm-zoom-hight-img{
    z-index: 2;
}
/**
 *
 *  sample styles
 *      - the following styles are just one example. You can customize at will
 *
 *
 **/
.wm-zoom-lens{
    background: #fff;
    -moz-opacity: 0.30;
    -khtml-opacity: 0.30;
    opacity: 0.30;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=30);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
    filter:alpha(opacity=30);
}
.wm-zoom-hight{
    background: #fff;
    border: 2px solid #cecece;
}
.wm-zoom-hight:before{
    position: absolute;
    content: "";
    background: url(../images/zoom_arr.png) 0 0 no-repeat;
    width: 10px;
    height: 21px;
    top: 13px;
    left: -10px;
    z-index: 99;
}
/*============================ zoom img end =============================*/
/*=======================> any_page <=========================*/
.any_page_right .title3{
    margin: -7px 0 17px 0;
}
.sale_page_info{
    text-align: justify;
    min-width: 100%;
    overflow: hidden;
    letter-spacing: -0.2px;
}

.catalog_box_btn{
    margin-bottom: 30px; 
}
    .catalog_box_btn .see_more_box_btn{
        background: url(../images/icon_see_more2.png) 0 50% no-repeat;
    }
/*=======================> any_page end <=========================*/

/*=======================> freski_razdel <=========================*/
.freski_razdel_wrapper{
    margin: 0 -14px 0;
}
.frascoes_razdel_box{
    background: #fff;
    width: 211px;
    /*height: 235px;*/
    display: inline-block;
    margin: 0 12.5px 30px;
}

    .catalog2_figure_link{
        border: 2px solid #eaeaea;
        height: 190px;
        width: 211px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

    .freski_box_text{
        margin-top: 10px;
    }

        .freski_box_text .oboi_box_name{
            font-size: 13px;
        }

        .freski_box_text .oboi_box_cost{
            font-size: 16px;
        }

/*=======================> freski_razdel end <=========================*/

    
/*----------------- Frescoes card 3 ---------------*/
.ex_frescoes_img{
    width: 540px;
    height: 639px;
    border: 2px solid #eaeaea;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.freski_card3_text{
    margin: 30px 41.5% 30px 0;
    /*width: 540px;*/
}

.freska_in_interier{
    background: #4c4c4c url(../images/cards_3_bg.png) 100% 0 no-repeat;
    color:#fff;
    display: block;
    width: 320px;
    height: 44px;
    line-height: 44px;
    padding-left: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.cards_frescoes_right_box{
    overflow: hidden;
    float: right;
    /*height: 638px;*/
    max-height: 638px;
    width: 470px;
    border: 2px solid #eeeeee;
}
    
    .cards_frescoes_right_box .jspContainer{
        /*width: 468px !important;*/
    }   

    .cards_frescoes_right_box .jspContainer .jspPane{
        /*width: 450px !important;*/
    }

    .cards_frescoes_right_box .jspVerticalBar, .jspTrack{
        right: 0 !important;
        width: 20px;
        background: #f1f1f1 !important;
        border-radius: 0 !important;
    }
        .cards_frescoes_right_box .jspVerticalBar .jspTrack .jspDrag{
            border-radius: 0 !important;
            background: #dcdcdc;
        }

        /*.cards_frescoes_right_box .jspVerticalBar .jspArrow{
            height: 19px ;
            border-bottom: none;
            background: url(../images/arrow_scroll_up.png) 46% 37%  no-repeat;
        }   

        .cards_frescoes_right_box .jspVerticalBar .jspArrow.jspArrowDown{
            -webkit-transform: rotate(180deg);
               -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                 -o-transform: rotate(180deg);
                    transform: rotate(180deg);
            border: none;
            background: url(../images/arrow_scroll_up.png) 46% 37%  no-repeat;
        }*/

    .cards_frescoes_right_box_wrapper{
        padding: 18px 42px 0 38px;
    }

        .cards_frescoes_right_box_wrapper h3{
            text-transform: uppercase;
            font-size: 17px;
            padding-bottom: 4px; 
            color: #626161;
            border-bottom: 2px solid #eeeeee;
            margin-bottom: 5px;
        }   

.c_f_r_box{
    padding: 37px 43px 0 37px; 
}
    .c_f_box{
        border: 2px solid #eeeeee;
    }
        .title_hr_text{
            font-size: 24px;    
            color:  #202020;
            text-align: center; 
            display: inline-block;  
            padding: 0 20px;
            background-color: #fff;
            text-transform: uppercase;
        }
.cards_frescoes_right_box_content{
    padding: 0 22px; 
}
.cards_frescoes_figure{
    width: 170px;
    margin: 10px 15px 15px;
    float: left;
}
    .oboi_box_link img{
        max-width: 100%;
        height: auto;
    }
    .card_frescoes_box_components{
        width: 100%;
        border: 2px solid #eaeaea;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
    }
        .card_frescoes_box_components .oboi_box_link{
            margin-bottom: 0;
        }
    .card_frescoes_box_components .oboi_box_link:before,
    .card_frescoes_box_components .oboi_box_link:after{
        display: none;
    }


/*========== ===================*/
.error_search_box2{
    width: 821px;
}
.aside_conteiner{
    width: 15%;
    position: relative;
    z-index: 99;
    margin: 0 62px 20px 0;
    display: block;
}

.container_search_oboi_box{
    margin: 0 -28px 0 1.6% !important;
    width: 100%;
}

    .container_search_oboi_box.oboi_box_main.oboi_big .oboi_box{
        margin: 0 28px 32px 0;
    }

/*----------------------One news----------------------*/

.flexslider2_main_box{
    position: relative;
    margin-left: 33px;
    max-height: 427px;
    overflow: hidden;
    max-width: 637px;
    border: 2px solid #cfcfcf;
    -webkit-border-radius: 6px;
            border-radius: 6px;
}
    .flexslider2_main_box #slider .slides img{
        
    }
    .flexslider2_main_box #carousel{
        position: absolute;
        bottom: 0;
        background: url(../images/bkgc_opacity_flex.png) 0 0 repeat;
        padding: 4px 62px 5px 62px;
        -webkit-border-radius: 7px;
                border-radius: 7px;
        left: 0;
        right: 0;
        height: 89px;
        overflow: hidden;
    }
    .flexslider2_main_box .flex-direction-nav a{
        background: url(../images/icon_see_more2.png) 0 0 no-repeat;
        width: 26px;
        height: 26px;
        top: 50%;
        -webkit-background-size: contain;
             -o-background-size: contain;
                background-size: contain;
    }
    .flexslider2_main_box .flex-direction-nav .flex-next{
        -webkit-transform: rotate(180deg);
           -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
             -o-transform: rotate(180deg);
                transform: rotate(180deg);
    }
    .flexslider2_main_box .flexslider:hover .flex-next,
    .flexslider2_main_box .flexslider .flex-next{
        right: 17px;
        margin-top: -13px;
    }
    .flexslider2_main_box .flexslider:hover .flex-prev,
    .flexslider2_main_box .flexslider .flex-prev{
        left: 17px;
        margin-top: -13px;
        
    }
    .flexslider2_main_box #carousel .flex-active-slide .bd_img{
        cursor: pointer;
        width: 117px;
        height: 79px;
        position: relative;
        border: 2px solid #eaeaea;
        overflow: hidden;
    }
    .flexslider2_main_box #carousel .flex-active-slide .bd_img img{
        margin: -2px 0 0 -2px;
    }
    .flexslider2_main_box #carousel .slides li{
        margin-right: 10px;
        cursor: pointer;
    }
    .mr19{
     margin-right:19px;
    }
.news_articles_main .vertical_right_text{
    height:auto;
}
.news_articles_main .vertical_item {
    padding: 20px 20px 20px 0px;
}

/*----------------------All news----------------------*/

.news_articles_main .vertical_item .vertical_right_text{
    position: relative;
    overflow: initial;
    float: left;
    width: calc(100% - 222px);
}
    .news_articles_main .vertical_item .vertical_right_text .more_link_box_it{
        position: absolute;
        top: 121px;
    }
.after_flex{
    color: #424242;
    margin-left: 32px;
    margin-bottom: 0;
}
.content_oboi_news{
    /*margin-bottom: 110px;*/
    margin-bottom: 155px;
}
.content_oboi_news .check_butn_box{
    margin: -3px 0 0 0;
}
.content_oboi_news .check_butn_box .see_more_box_btn{
    padding: 5px 0px 5px 44px;
}
.new_left_bx{
    color: #424242;
    margin-top: -9px;
}
.new_left_bx p,
.after_flex{
    text-align: justify;
}
.content_oboi1{
    margin-bottom: 12px;
}
.content_oboi2{
    margin-bottom: 24px;
}

.pagination_box_news{
    margin: 0 auto;
    padding: 20px 0 40px 0; 
    width: 150px;
}
    .pagination_box_news_title{
        display: inline-block;
        float: left;
        margin: 0 1.5px;
        width: 32px;
        height: 32px;
        background: #eaeaea;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
    }
        .pagination_box_news_title:hover{
            background: #6f6f6f; 
        }
            .pagination_box_news_title:hover .pagination_box_news_link{
                color: #fff;
            }
    .pagination_box_news_title:first-child{
        display: inline-block;
        margin: 0 8px 0 0;
        background: #eaeaea url(../images/arrow_prev_gray.png) 50% 50% no-repeat;
    }
        .pagination_box_news_title:first-child .pagination_box_news_link{
            padding: 15px;
        }
            .pagination_box_news_title:first-child:hover, .pagination_box_news_title:last-child:hover{
                opacity: 0.5;
            }
    .pagination_box_news_title:last-child{
        display: inline-block;
        margin: 0 0 0 8px;
        background: #eaeaea url(../images/arrow_next_gray.png) 50% 50% no-repeat;
    }
        .pagination_box_news_title:last-child .pagination_box_news_link{
            padding: 15px;
        }
    .pagination_box_news_link{
        text-align: center;
        display: block;
        color: #424242;
        padding: 7px;
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }

/*------------------aside menu-----------------*/
    .novelty_link,
    .sale_link{
        border-radius: 7px;
        background-color: #ebebeb;
        border: 1px solid #dbdbdb;
        display: block;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        text-transform: uppercase;
        color: #4c4c4c;
        padding: 9px 67px;
    }
    .novelty_link:hover{
        color: #fefefe;
        background-color: #4c4c4c;
    }
.novelty,
.sale{
    margin-bottom: 7px;
}
    .sale_link{
        color: #fefefe;
        background-color: #4c4c4c;
        border: 1px solid rgba(89, 65, 52, 0.69);
        border-radius: 10px;
        padding: 9px 54px;
    }
    .sale_link:hover{
        background-color: #ebebeb;
        border: 1px solid #dbdbdb;
        color: #4c4c4c;
    }
.aside_left_col{
    min-width: 200px;
    z-index: 9;
    position: relative;
}
.accordion_box{margin-top: 20px;}
    .accordion_item{
        background-color: #fff;
        width: 100%;
        border-radius: 6px 6px;
        border: 1px solid #cfcfcf;
        display: inline-block;
        position: relative;
        margin-bottom: 2px;
    }
    .ac_it_1{background: #2d2d2d url(../images/vizerunok1.png) 0% 0% repeat;}
    .ac_it_2{background: #2d2d2d url(../images/vizerunok2.png) 0% 0% repeat;}
    .ac_it_3{background: #2d2d2d url(../images/vizerunok3.png) 0% 0% repeat;}
    .ac_it_4{background: #2d2d2d url(../images/vizerunok4.png) 0% 0% repeat;}
    .ac_it_5{background: #2d2d2d url(../images/vizerunok5.png) 0% 0% repeat;}
    .ac_it_6{background: #2d2d2d url(../images/vizerunok6.png) 0% 0% repeat;}
    .ac_it_7{background: #2d2d2d url(../images/vizerunok7.png) 0% 0% repeat;}
    .ac_it_8{background: #2d2d2d url(../images/vizerunok8.png) 0% 0% repeat;}
        .accordion_item_link{
            margin: 0;
            border-radius: 6px;
            position: relative;
            cursor: pointer;
            padding: 14px;
            color: #fff;
            line-height: 18px;
            font-size: 16px;
            font-weight: 300;
            text-decoration: none;
            border-radius: 6px;
        }
        .accordion_item_link:after{
            content: "";
            position: absolute;
            width: 14px;
            height: 7px;
            background: url(../images/icon/arrow_down_white.png) 0 0 no-repeat;
            top: 50%;
            margin-top: -3.5px;
            right: 10px;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
            .accordion_item .accordion_item_link.active.accordion_item_link:after{
                -moz-transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                transform: rotate(180deg);
            }
            .sub-menu{
                border-radius: 0 0 6px 6px;
                background: #fff; 
                color: #424242;
                padding: 18px;  
            }
            /*-----pallete-----*/
            .sub_menu_pallete{
                float: left;
                display: inline-block;
                width: 21px;
                height: 21px;
                margin: 3px;
            }
            .sub_menu_pallete:hover{border: 1px solid #dedede;}
            .sub_menu_pallete a{padding: 10px;}
            .pal1{background-color: #ff2121;}
            .pal2{background-color: #902121;}
            .pal3{background-color: #21ffff;}
            .pal4{background-color: #219090;}
            .pal5{background-color: #2121ff;}
            .pal6{background-color: #3434a3;}
            .pal7{background-color: #f5f522;}
            .pal8{background-color: #909021;}
            .pal9{background-color: #21ff21;}
            .pal10{background-color: #219021;}
            .pal11{background-color: #ff21ff;}
            .pal12{background-color: #902190;}

                .sub_menu_li{
                    display: block;
                    font-family: roboto;
                    font-weight: 400;
                    padding-bottom: 10px;
                }
                .see_more a{
                    color: #6f6f6f;
                    margin: 3px 0 0 -5px;
                    font-size: 14px;
                }
                .sub-menu li:last-child{padding-bottom: 0;}

                .sub_menu_li:hover, .see_more:hover{text-decoration: underline;}

    .sub_menu_li a{
        color: #424242;
        display: block;
        border:none;
        font-size: 14px;
    }

    /* функциональность */
    .accordion .accordion_item > .sub-menu {
        display: none;
    }
    .accordion .accordion_item:target > .sub-menu {
        display: block;
    }
/*----------------------delivery menu-----------------------*/
.delivery_aside{
    min-width: 198px;
}
    .delivery_menu_item{
        margin-bottom: 3px;
        background-color: #2d2d2d;
        border-radius: 6px;
        
        -webkit-transition: all 0.7s ease;
        -moz-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
        transition: all 0.7s ease;
    }
    .delivery_menu_link:hover{
        background-color: #6f6f6f;
        -webkit-transition: all 0.1s ease;
        -moz-transition: all 0.1s ease;
        -o-transition: all 0.1s ease;
        transition: all 0.1s ease;
    }
        .delivery_menu_link{
            display: block;
            border-radius: 6px;
            font-size: 16px;
            font-weight: 300;
            color: #fff;
            text-decoration: none;
            padding: 13.5px 13px; 
            position: relative;
            z-index: 9;
        }

.delivery_contacts{
    margin: -9px 31px 27px 41px;
}

.delivery_title{
    margin-bottom: 24px;
}

.contacts{
    width: 31.73719376391982%;
    margin: -12px 0px 0px 0px;
    float: left;
    color: #202020;
}
    .way .shop_title{
        margin-bottom: 17px;
    }
    .shop_title{
        /*font-size: 24px;*/
        margin-bottom: 12px;
    }
.hr_delivery{
    border-bottom: 2px solid #eaeaea;
    margin-bottom: 10px;
    margin-right: 18px;
}
.shop_text,
.way_text{
    font-size: 14px;
    line-height: 18px;
    color: #424242; 
    margin-bottom: 18px;
}
.way .way_text:last-child{
    margin-bottom: 0;
}
.shop .shop_text:last-child{
    margin-bottom: 14px;
}


.way{
}
.map{
    float: right;
    border: 2px solid #d1cfcf;
    border-radius: 10px;
    /*height: 348px;*/
    /*width: 600px;*/
    width: 66.81514476614699%;
    height: 400px;
    overflow: hidden;
    position: relative;
    z-index: 9;
}
.delivery_form{
    /*width: 500px;*/
    width: 55.67928730512249%;
    font-size: 14px;
    padding-top: 3px;
}
.delivery_form_box{margin-top: 33px;}
    .delivery_form_box_title{
        color: #424242 !important;  
        margin-bottom: 17px;
    }
    .delivery_form_box_text{
        margin-bottom: 35px;
    }
.del_form_point{ 
    margin-right: 10%;
    margin-bottom: 16px;
}
.del_form_point.captcha{
    margin-bottom: 21px;
}

    .point_label{
        color: #424242;
        float: left;
        padding-top: 8px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }
    .del_form_point.del_textarea{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .point_input{
        border-radius: 10px !important;
        float: right;
        border: 1px solid #939393;
        /*width: 261px;*/
        width: 62.2%;
        padding: 6.5px 10px ;
    }
    .point_input.w211{
        /*width: 211px;*/
        width: 50.2%;
    }
    .del_form_point_textarea{
        border-radius: 10px !important;
        float: right;
        /*width: 330px;*/
        width: 66%;
        height: 73px;
        border: 1px solid #939393;
        padding: 5px 10px 5px 10px;
        resize: none;
    }
    .point_4_img{
        float: right;
        margin-right: 71px;
        height: 38px;
        width: 72px;
    }
    .point_4_img img{
        width: 100%;
        height: auto;
    }

    .delivery_button{
        margin-top: 30px;
    }
    .delivery_but{
        border-radius: 10px;
        float: right;
        background-color: #4c4c4c;
        color: #fff;
        font-size: 12px;
        padding: 13px 61.5px;
        border: none;
        outline: none;
        cursor: pointer;
        text-transform: uppercase;
        display: inline-block;
    }
    .delivery_but:hover{opacity: 0.6;}
/*----------------------- any_brand ----------------------*/
.l_oboi_text_box{margin: 0 0 16px 0;}
    .l_title3{
        font-size: 27px;
        color: #202020;
        /*line-height: 20px;*/
        margin-bottom: 20px;
    }
    .brand_page_info{
        color: #424242;
        text-align: justify;
    }
.wallpaper_brand_item{
        width: 211px;
        margin: 0 13.5px 15px 13.5px;
        float: left;
    }
    .wallpaper_brand_img{
            width: 100%;
            display: block;
            margin-bottom: 10px;
        }
    .wallpaper_brand_img img{
        width: 100%;
        height: auto;
    }    
        .wallpaper_brand_txt{
            border-bottom: 2px solid #e9e9e9;
            text-align: center;
            text-align: center;
            display: block;
            text-decoration: none;
            font-size: 14px;
            line-height: 16px;
            color: #424242;
            padding: 3px 0 9px;
        }
            .oboi_box_text{color: #424242;}
            .wallpaper_brand_box_item{
                width: 211px;
                margin: 0 13.5px 32px 13.5px;
                float: left;
            }
                .oboi_brand_box_name{
                    display: block;
                    line-height: 13px;
                    font-size: 13px;
                    padding-bottom: 7px;
                }
                .oboi_brand_box_cost{
                    font-size: 16px;
                    display: block;
                    font-weight: 500;
                    text-transform: uppercase;
                }
/*------------------------- Search -----------------------*/
.search_content{margin-left: 35px;}
.error_search_box{width: 561px;}
    .err_lab{
        font-size: 27px;
        line-height: 25px; 
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        color: #202020;
    }
    .err_inp{width: 407px;}
        .header_top_input{
            padding: 5.5px 7px; 
            color: #424242;
            font-size: 14px;
            width: 100%;
            border: 1px solid #939393;
            border-radius: 5px !important;
        }
        .header_top_button{
            width: 27px;
            height: 27px;
            position: absolute;
            top: 1px;
            right: 7px;
            border: none;
            background: #fff url(../images/search_icon.png) 90% 50% no-repeat; 
        }
            .header_top_button:hover{opacity: 0.7;}
.num_search{
    color: #a7a7a7;
    font-size: 13px;
    display: inline-block;
    margin: 4px 0 12px 0;
}
/*---------- Search error ---------*/
.search_err_info{
    color: #424242;
    font-size: 14px;
    line-height: 18px;
    margin: 16px 0 0 0;
}
/*------------------- Freski card2 ----------------*/
.frescoes_interior_h1{
    margin-bottom: 32px;
}
    .img_frescoes_interior{
        
    }
    .img_frescoes_interior img{
    
    }
    .ex_img_frescoes_interior{
        display: inline-block;
        /*text-align: right;*/
        width: 100%;
        margin-bottom: 15px;
    }
        .fresc_inter_topic{
            color: #424242;
            font-size: 14px;
        }
        .fresc_inter_link{
            text-decoration: underline;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            margin-left: 4px;
            font-size: 14px;
            color: #424242;
        }
            .fresc_inter_link:hover{text-decoration: none;}
    .frescoes_inter_info{
        margin: 40px 0 0px 0;
    }
    .frescoes_interior{
        margin-bottom: 37px;
    }
        .fresc_inter_title{
            font-size: 24px;
            font-family:'Calibri-Bold';
            color: #202020;
            margin-bottom: 15px;
        }
        .fresc_inter_par{
            color: #424242;
            font-size: 14px;
            text-align: justify;
        }

